Repository sqwxl/seki: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt, clippy, prettier

lefthook.yml:

pre-commit:
  commands:
    rustfmt:
      glob: "*.rs"
      run: cargo fmt -- --check
    clippy:
      glob: "*.rs"
      run: cargo clippy --all-targets -- -D warnings
    prettier:
      root: seki-web/frontend/
      glob: "*.{ts,tsx}"
      run: pnpm exec prettier --write {staged_files}
      stage_fixed: true

fix: replace playerStone checks with participant identity for pregame negotiation
  seki-web/frontend/src/__tests__/capabilities.test.ts
  seki-web/frontend/src/__tests__/game-description.test.tsx
  seki-web/frontend/src/__tests__/notification-bell.test.ts
  seki-web/frontend/src/components/game-description.tsx
  seki-web/frontend/src/components/lobby-popover.tsx
  seki-web/frontend/src/components/notification-bell.tsx
  seki-web/frontend/src/game/capabilities/controls.ts
  seki-web/frontend/src/game/capabilities/status.ts
  seki-web/frontend/src/game/messages.ts
  seki-web/frontend/src/game/state.ts
  seki-web/frontend/src/game/types.ts
  seki-web/frontend/src/game/ui.ts
  seki-web/frontend/src/game/unread.ts
  seki-web/frontend/src/layouts/game-settings-form.tsx
  seki-web/frontend/src/layouts/games-list.tsx
  seki-web/frontend/src/layouts/live-game-page.tsx
  seki-web/frontend/src/utils/format.ts
  seki-web/migrations/006_game_participants.sql
  seki-web/src/models/game.rs
  seki-web/src/routes/api/challenges.rs
  seki-web/src/routes/api/games.rs
  seki-web/src/routes/api/users.rs
  seki-web/src/routes/games.rs
  seki-web/src/routes/web_api/games.rs
  seki-web/src/services/game_actions/challenges.rs
  seki-web/src/services/game_actions/pregame_settings.rs
  seki-web/src/services/game_creator.rs
  seki-web/src/services/game_joiner.rs
  seki-web/src/services/live.rs
  seki-web/src/services/state_serializer.rs
  seki-web/src/templates/games_show.rs
  seki-web/src/ws/live.rs
  seki-web/tests/ws/api.rs
  seki-web/tests/ws/common.rs
  seki-web/tests/ws/game_lifecycle.rs
  seki-web/tests/ws/validation.rs
Due: rustfmt, clippy, prettier

fix: add bottom margin to non game pages
  seki-web/static/css/base.css
Due: none

fix: visual tweaks
  seki-web/frontend/src/components/user-menu.tsx
  seki-web/frontend/src/spa/screen-state.tsx
  seki-web/static/css/base.css
Due: prettier

fix: tweak push notification titles
  seki-web/src/ws/game_channel.rs
Due: rustfmt, clippy

fix: use actor username in push notification titles, not recipient's
  seki-web/src/ws/game_channel.rs
Due: rustfmt, clippy

feat: chat push notification opens game with chat tab active
  seki-web/frontend/src/layouts/live-game.tsx
  seki-web/src/ws/game_channel.rs
Due: rustfmt, clippy, prettier

feat: halve touch input Y offset
  seki-web/frontend/src/goban/goban.tsx
Due: prettier

refactor: sort icons
  seki-web/frontend/src/components/icons.tsx
Due: prettier

feat: add star icon
  seki-web/frontend/src/components/icons.tsx
  seki-web/static/images/star.svg
Due: prettier

feat: increase touch offset
  seki-web/frontend/src/goban/goban.tsx
Due: prettier

feat: add seki-gtp bridge and bot infrastructure
  Cargo.lock
  Cargo.toml
  seki-api-types/Cargo.toml
  seki-api-types/src/game.rs
  seki-api-types/src/lib.rs
  seki-api-types/src/user.rs
  seki-api-types/src/ws.rs
  seki-api-types/tests/deser_test.rs
  seki-gtp/Cargo.toml
  seki-gtp/src/bot.rs
  seki-gtp/src/client.rs
  seki-gtp/src/config.rs
  seki-gtp/src/engine.rs
  seki-gtp/src/gtp.rs
  seki-gtp/src/lib.rs
  seki-gtp/src/main.rs
  seki-gtp/src/ws.rs
  seki-web/frontend/src/components/icons.tsx
  seki-web/frontend/src/components/user-label.tsx
  seki-web/frontend/src/game/types.ts
  seki-web/frontend/src/layouts/game-settings-form.tsx
  seki-web/frontend/src/spa/auth-screens.tsx
  seki-web/migrations/007_add_is_bot.sql
  seki-web/src/models/user.rs
  seki-web/src/routes/auth.rs
  seki-web/src/routes/users.rs
  seki-web/src/templates/mod.rs
  seki-web/src/ws/live.rs
  seki-web/static/images/bot.svg
Due: rustfmt, clippy, prettier

fix: use robust component-type lookup in UserLabel test instead of brittle index
  seki-web/frontend/src/__tests__/user-label.test.tsx
Due: prettier

ci: run tests before formatters in pre-commit hooks
  lefthook.yml
Due: none

fix(gtp): enable rustls TLS with custom cert verifier for wss connections
  Cargo.lock
  seki-gtp/Cargo.toml
  seki-gtp/src/ws.rs
Due: rustfmt, clippy

fix: skip push notification when any app client is active
  seki-web/frontend/src/service-worker.ts
Due: prettier

fix(gtp): update ws_tx on reconnect, fix UndoResponseNeeded and PresenceChanged parse errors
  seki-api-types/src/ws.rs
  seki-gtp/src/bot.rs
Due: rustfmt, clippy

feat: restrict web app screens for bot accounts
  seki-web/frontend/src/app.tsx
  seki-web/frontend/src/components/game-description.tsx
  seki-web/frontend/src/components/user-menu.tsx
  seki-web/frontend/src/layouts/user-games.tsx
  seki-web/frontend/src/spa/auth-screens.tsx
  seki-web/frontend/src/spa/profile-screen.tsx
  seki-web/frontend/src/spa/screen.tsx
  seki-web/src/routes/web_api/games.rs
Due: rustfmt, clippy, prettier

fix: disable expired push destinations on 410 and remove panic risk in dispatch_push_notification
  seki-web/src/services/push.rs
  seki-web/src/ws/game_channel.rs
Due: rustfmt, clippy

fix: refresh tailscale funnel after deploy, clear bot state on ws reconnect, init ws on mount
  scripts/deploy-prebuilt.sh
  seki-gtp/src/bot.rs
  seki-web/frontend/src/app.tsx
  seki-web/frontend/src/ws.ts
Due: rustfmt, clippy, prettier

fix: dismiss flash banner on outside click only
  seki-web/frontend/src/app.tsx
  seki-web/frontend/src/spa/flash-banner.tsx
Due: prettier

fix(bot): clarify log message when joining challenge room
  seki-gtp/src/bot.rs
Due: rustfmt, clippy

feat: server-derived handicap/komi for ranked games, remove client-side computation
  seki-web/frontend/src/__tests__/direct-challenge-settings.test.ts
  seki-web/frontend/src/game/types.ts
  seki-web/frontend/src/layouts/form-variants/direct-challenge.tsx
  seki-web/frontend/src/layouts/form-variants/direct-challenge/ranked-settings.ts
  seki-web/frontend/src/layouts/form-variants/opponent-select.tsx
  seki-web/frontend/src/layouts/form-variants/shared.tsx
  seki-web/frontend/src/layouts/game-settings-form.tsx
  seki-web/frontend/src/spa/game-screens.tsx
  seki-web/frontend/src/spa/types.ts
  seki-web/src/routes/api/games.rs
  seki-web/src/routes/games.rs
  seki-web/src/routes/users.rs
  seki-web/src/routes/web_api/games.rs
  seki-web/src/services/game_actions/challenges.rs
  seki-web/src/services/rating.rs
  seki-web/tests/ws/common.rs
  seki-web/tests/ws/rating.rs
Due: rustfmt, clippy, prettier

feat: ranked rematch with rating-derived handicap/komi/color
  seki-web/frontend/src/components/controls-shared.tsx
  seki-web/frontend/src/components/game-controls.tsx
  seki-web/frontend/src/layouts/live-game/phase-transitions.ts
  seki-web/src/routes/api/challenges.rs
  seki-web/src/routes/games.rs
  seki-web/src/services/game_actions/mod.rs
  seki-web/src/services/game_actions/rematch.rs
  seki-web/src/ws/registry.rs
  seki-web/tests/ws/rating.rs
  seki-web/tests/ws/rematch.rs
Due: rustfmt, clippy, prettier

refactor: remove unused config fields
  seki-gtp/src/config.rs
Due: rustfmt, clippy

fix(seki-gtp): retry server connection on startup with backoff
  seki-gtp/src/client.rs
Due: rustfmt, clippy

refactor: extract shared helpers across web/api/ws handlers
  seki-web/src/models/rating.rs
  seki-web/src/routes/api/games.rs
  seki-web/src/routes/api/users.rs
  seki-web/src/routes/games.rs
  seki-web/src/routes/users.rs
  seki-web/src/routes/web_api/games.rs
  seki-web/src/services/clock.rs
  seki-web/src/services/clock_sweep.rs
  seki-web/src/services/game_access.rs
  seki-web/src/services/game_actions/chat.rs
  seki-web/src/services/game_actions/disconnect.rs
  seki-web/src/services/game_actions/end_game.rs
  seki-web/src/services/game_actions/mod.rs
  seki-web/src/services/game_actions/play.rs
  seki-web/src/services/game_actions/resign.rs
  seki-web/src/services/game_actions/territory.rs
  seki-web/src/services/live.rs
  seki-web/src/services/mod.rs
  seki-web/src/services/state_assembly.rs
  seki-web/src/services/state_serializer.rs
  seki-web/src/ws/game_channel.rs
Due: rustfmt, clippy

refactor: remove unused config fields
  justfile
  seki-gtp/src/config.rs
  seki-gtp/src/main.rs
Due: rustfmt, clippy

feat(seki-gtp): add configurable accept_delay_s for challenge auto-accept
  seki-gtp/src/bot.rs
  seki-gtp/src/config.rs
  seki-gtp/src/main.rs
Due: rustfmt, clippy

fix: rematch routes through challenge stage like normal challenges
  seki-web/src/services/game_actions/rematch.rs
  seki-web/tests/ws/rematch.rs
Due: rustfmt, clippy

fix: add missing name='handicap' to HandicapSelect select element
  seki-web/frontend/src/components/controls-shared.tsx
Due: prettier

refactor: consolidate button styling and hide ranked hints on unranked challenges
  justfile
  seki-web/frontend/src/components/ui-controls.tsx
  seki-web/frontend/src/layouts/controls.tsx
  seki-web/frontend/src/layouts/form-variants/direct-challenge.tsx
  seki-web/static/css/controls.css
Due: prettier

fix: show max rating diff only in open game variants; use 'days' not 'd' for correspondence
  seki-web/frontend/src/components/lobby-popover.tsx
  seki-web/frontend/src/utils/format.ts
Due: prettier

fix: ignore vertex clicks on illegal moves in live game
  seki-web/frontend/src/layouts/live-game.tsx
Due: prettier

fix(seki-gtp): pass actual board size from server settings to GTP engine
  seki-gtp/src/bot.rs
Due: rustfmt, clippy

chore(seki-gtp): reduce default accept delay from 30s to 10s
  seki-gtp/src/config.rs
Due: rustfmt, clippy

feat: add keyboard shortcuts for game actions and navigation
  seki-web/frontend/src/app.tsx
  seki-web/frontend/src/layouts/analysis.tsx
  seki-web/frontend/src/layouts/live-game.tsx
Due: prettier

fix(seki-gtp): cancel stale move tasks on undo, fix cancel_token init
  seki-gtp/src/bot.rs
Due: rustfmt, clippy

fix(bot): trigger move on handicap game start with 0 turns
  justfile
  seki-api-types/src/ws.rs
  seki-gtp/src/bot.rs
  seki-gtp/src/client.rs
  seki-gtp/src/engine.rs
  seki-gtp/src/main.rs
  seki-gtp/src/ws.rs
  seki-web/frontend/src/components/controls-shared.tsx
  seki-web/frontend/src/components/game-controls.tsx
  seki-web/frontend/src/components/move-tree.tsx
  seki-web/static/css/desktop.css
Due: rustfmt, clippy, prettier

chore: update justfile
  justfile
Due: none
