Repository sqwxl/seki: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt, clippy, prettier

rustfmt:
  run: cargo fmt -- --check

clippy:
  run: cargo clippy --all-targets -- -D warnings

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

dx: use watchexec instead of cargo-watch; add setup recipes
  justfile
Due: none

feat: add backend validation, security guards, and integration tests
  ISSUES.md
  seki-web/src/error.rs
  seki-web/src/routes/api.rs
  seki-web/src/routes/games.rs
  seki-web/src/services/game_actions/mod.rs
  seki-web/src/services/game_actions/territory.rs
  seki-web/src/services/game_actions/undo.rs
  seki-web/src/services/game_creator.rs
  seki-web/src/services/presentation_actions.rs
  seki-web/src/session.rs
  seki-web/src/ws/game_channel.rs
  seki-web/tests/ws/common.rs
  seki-web/tests/ws/main.rs
  seki-web/tests/ws/presentation.rs
  seki-web/tests/ws/security.rs
  seki-web/tests/ws/state_guards.rs
  seki-web/tests/ws/validation.rs
Due: rustfmt, clippy

feat: add REST API integration tests, widen board size range, return 201 on create
  ISSUES.md
  seki-web/src/routes/api.rs
  seki-web/src/services/game_creator.rs
  seki-web/tests/ws/api.rs
  seki-web/tests/ws/main.rs
  seki-web/tests/ws/validation.rs
Due: rustfmt, clippy

feat: add challenge accept/decline integration tests and API invite_username support
  ISSUES.md
  seki-web/src/routes/api.rs
  seki-web/tests/ws/api.rs
  seki-web/tests/ws/common.rs
Due: rustfmt, clippy

test: add territory toggle/approve API integration tests
  ISSUES.md
  seki-web/tests/ws/api.rs
  seki-web/tests/ws/common.rs
Due: rustfmt, clippy

feat: logout returns JSON redirect like login
  ISSUES.md
  seki-web/src/routes/auth.rs
  seki-web/tests/ws/api.rs
Due: rustfmt, clippy

style: rustfmt formatting
  seki-web/src/routes/api.rs
  seki-web/src/routes/games.rs
  seki-web/src/services/game_actions/mod.rs
  seki-web/src/services/game_actions/territory.rs
  seki-web/src/services/game_actions/undo.rs
  seki-web/src/services/game_creator.rs
  seki-web/src/services/presentation_actions.rs
  seki-web/src/ws/game_channel.rs
  seki-web/tests/ws/security.rs
  seki-web/tests/ws/state_guards.rs
  seki-web/tests/ws/validation.rs
Due: rustfmt, clippy

feat: make game creation params required, add sane defaults
  ISSUES.md
  seki-web/frontend/src/layouts/game-settings-form.tsx
  seki-web/src/routes/api.rs
  seki-web/src/routes/games.rs
  seki-web/tests/ws/api.rs
  seki-web/tests/ws/common.rs
  seki-web/tests/ws/territory.rs
  seki-web/tests/ws/undo.rs
  seki-web/tests/ws/validation.rs
Due: rustfmt, clippy, prettier

refactor: decouple presence from game rooms (intermediate)
  ISSUES.md
  seki-web/frontend/src/game/messages.ts
  seki-web/src/models/game.rs
  seki-web/src/routes/games.rs
  seki-web/src/services/game_actions/mod.rs
  seki-web/src/ws/game_channel.rs
  seki-web/src/ws/live.rs
Due: rustfmt, clippy, prettier

feat: add PresenceSubscriptions struct with tests
  seki-web/src/lib.rs
  seki-web/src/ws/mod.rs
  seki-web/src/ws/presence_subscriptions.rs
Due: rustfmt, clippy

feat: handle subscribe_presence and notify on connect/disconnect
  seki-web/src/ws/live.rs
Due: rustfmt, clippy

refactor: remove per-game presence broadcasts and online_users
  seki-web/src/routes/api.rs
  seki-web/src/routes/games.rs
  seki-web/src/services/game_actions/mod.rs
  seki-web/src/services/state_serializer.rs
  seki-web/src/ws/game_channel.rs
  seki-web/src/ws/live.rs
  seki-web/src/ws/registry.rs
Due: rustfmt, clippy

feat: use presence subscriptions on frontend
  seki-web/frontend/src/game/messages.ts
  seki-web/frontend/src/game/state.ts
  seki-web/frontend/src/game/types.ts
  seki-web/frontend/src/layouts/live-game.tsx
  seki-web/frontend/src/ws.ts
Due: prettier

test: rewrite presence tests for subscription system
  seki-web/tests/ws/presence.rs
Due: rustfmt, clippy

feat: add score_agreed move type for territory terminator nodes
  go-engine-wasm/src/lib.rs
  go-engine/src/engine.rs
  go-engine/src/goban.rs
  go-engine/src/replay.rs
  go-engine/src/sgf/convert.rs
  go-engine/src/turn.rs
  seki-web/frontend/src/components/move-tree.tsx
  seki-web/frontend/src/game/messages.ts
  seki-web/frontend/src/game/types.ts
  seki-web/frontend/src/goban/create-board.tsx
  seki-web/frontend/src/layouts/live-game.tsx
  seki-web/src/services/engine_builder.rs
Due: rustfmt, clippy, prettier

doc: update ISSUES.md
  ISSUES.md
Due: none

style: cap game board max size at 800px via CSS variable
  seki-web/static/css/desktop.css
  seki-web/static/css/goban.css
Due: none

feat: consolidate settings and auth into user menu dropdown
  seki-web/frontend/src/components/controls.tsx
  seki-web/frontend/src/components/user-menu.tsx
  seki-web/frontend/src/index.ts
  seki-web/frontend/src/layouts/analysis-page.tsx
  seki-web/frontend/src/layouts/live-game-page.tsx
  seki-web/frontend/src/utils/shared-controls.ts
  seki-web/frontend/src/utils/theme.ts
  seki-web/static/css/base.css
  seki-web/templates/base.html
Due: prettier

feat: persist user preferences in database
  seki-web/frontend/src/__tests__/capabilities.test.ts
  seki-web/frontend/src/components/notification-bell.tsx
  seki-web/frontend/src/components/user-menu.tsx
  seki-web/frontend/src/game/types.ts
  seki-web/frontend/src/index.ts
  seki-web/frontend/src/utils/preferences.ts
  seki-web/frontend/src/utils/theme.ts
  seki-web/migrations/009_add_user_preferences.sql
  seki-web/src/lib.rs
  seki-web/src/models/user.rs
  seki-web/src/routes/settings.rs
  seki-web/src/templates/mod.rs
Due: rustfmt, clippy, prettier

style: show theme icon in user menu dropdown
  seki-web/frontend/src/components/user-menu.tsx
  seki-web/frontend/src/utils/theme.ts
Due: prettier

refactor: unify nav dropdown styles between notification bell and user menu
  justfile
  seki-web/frontend/src/components/notification-bell.tsx
  seki-web/frontend/src/components/user-menu.tsx
  seki-web/static/css/base.css
Due: prettier

fix: treat handicap 0 and 1 as equivalent, use select dropdown in UI
  ISSUES.md
  justfile
  seki-web/frontend/src/layouts/game-settings-form.tsx
  seki-web/src/services/game_creator.rs
  seki-web/tests/ws/validation.rs
Due: rustfmt, clippy, prettier

fix: tab title flash only triggers on new moves, not tab switching
  ISSUES.md
  seki-web/frontend/src/game/ui.ts
  seki-web/frontend/src/layouts/live-game.tsx
Due: prettier

feat: replace "Ready" with "Accept"
  seki-web/frontend/src/layouts/controls.tsx
Due: prettier

fix: disable resign before first move, show declined status, fix nigiri icon in territory review
  ISSUES.md
  seki-web/frontend/src/__tests__/capabilities.test.ts
  seki-web/frontend/src/components/game-status.tsx
  seki-web/frontend/src/game/capabilities.ts
Due: prettier

fix: unify nav dropdown item styling across notification bell and user menu
  seki-web/frontend/src/components/notification-bell.tsx
  seki-web/frontend/src/components/toggle-button.tsx
  seki-web/frontend/src/components/user-menu.tsx
  seki-web/static/css/base.css
Due: prettier

feat: add register icon to user menu dropdown
  seki-web/frontend/src/components/icons.tsx
  seki-web/frontend/src/components/user-menu.tsx
Due: prettier

fix: vertically center dropdown icons with text using 1lh height
  seki-web/static/css/base.css
Due: none

fix: remove border-radius from nav dropdown items
  seki-web/static/css/base.css
Due: none

feat: show territory and captures separately in player panels
  ISSUES.md
  seki-web/frontend/src/components/controls.tsx
  seki-web/frontend/src/components/icons.tsx
  seki-web/frontend/src/components/player-panel.tsx
  seki-web/frontend/src/game/capabilities.ts
  seki-web/frontend/src/game/ui.ts
  seki-web/frontend/src/layouts/analysis-page.tsx
  seki-web/frontend/src/layouts/game-settings-form.tsx
  seki-web/frontend/src/utils/format.ts
Due: prettier

feat: add title prop to icon components, set titles on player panel and analysis icons
  seki-web/frontend/src/components/controls.tsx
  seki-web/frontend/src/components/icons.tsx
  seki-web/frontend/src/components/player-panel.tsx
Due: prettier

feat: add user icon to Profile item in user menu dropdown
  seki-web/frontend/src/components/icons.tsx
  seki-web/frontend/src/components/user-menu.tsx
Due: prettier

feat: add public/private visibility icons, use private icon in new game form
  seki-web/frontend/src/components/icons.tsx
  seki-web/frontend/src/layouts/game-settings-form.tsx
Due: prettier

refactor: move invite control into Opponent fieldset, show Notifications only for correspondence
  seki-web/frontend/src/layouts/game-settings-form.tsx
Due: prettier

feat: add opponent mode selector (open/challenge/invite) to new game form
  seki-web/frontend/src/components/user-label.tsx
  seki-web/frontend/src/layouts/game-settings-form.tsx
  seki-web/migrations/010_add_open_to.sql
  seki-web/src/lib.rs
  seki-web/src/models/game.rs
  seki-web/src/models/user.rs
  seki-web/src/routes/api.rs
  seki-web/src/routes/games.rs
  seki-web/src/routes/users.rs
  seki-web/src/services/game_creator.rs
  seki-web/src/ws/presence.rs
  seki-web/static/css/base.css
  seki-web/static/css/forms.css
Due: rustfmt, clippy, prettier

chore: update icon SVGs (add grid, register, user, visible; remove private)
  seki-web/static/images/grid_3x3.svg
  seki-web/static/images/private.svg
  seki-web/static/images/register.svg
  seki-web/static/images/user.svg
  seki-web/static/images/visible_0.svg
  seki-web/static/images/visible_1.svg
Due: none

feat: show selected opponent as label in challenge mode, click to deselect
  seki-web/frontend/src/layouts/game-settings-form.tsx
  seki-web/static/css/forms.css
Due: prettier

docs: update README and ISSUES for opponent mode selector feature
  ISSUES.md
  README.md
Due: none

fix: show profile link for anonymous users in user menu
  seki-web/frontend/src/components/user-menu.tsx
Due: prettier

Path conditions:
  rustfmt: any of: *.rs
  clippy: any of: *.rs
  prettier: any of: *.{ts,tsx} and ^seki\-web/frontend/
