Repository sqwxl/seki: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt, clippy, prettier

lefthook.yml:

pre-commit:
  commands:
    rustfmt:
      glob: "*.rs"
      run: cargo fmt -- --check
    clippy:
      glob: "*.rs"
      run: cargo clippy --all-targets -- -D warnings
    prettier:
      root: seki-web/frontend/
      glob: "*.{ts,tsx}"
      run: pnpm exec prettier --write {staged_files}
      stage_fixed: true

feat: add stone icon to analysis player panels
  seki-web/frontend/src/layouts/analysis-page.tsx
Due: prettier

refactor: collapse controls from control definitions
  seki-web/frontend/src/components/controls-shared.tsx
  seki-web/frontend/src/components/tab-bar.tsx
  seki-web/frontend/src/components/ui-controls.tsx
  seki-web/frontend/src/layouts/analysis-page.tsx
  seki-web/frontend/src/layouts/controls.tsx
  seki-web/frontend/src/layouts/live-game-page.tsx
  seki-web/frontend/src/layouts/live-game/phase-transitions.ts
  seki-web/static/css/controls.css
  seki-web/static/css/desktop.css
  seki-web/static/css/medium.css
Due: prettier

refactor: separate controls menu component
  seki-web/frontend/src/components/controls-menu.tsx
  seki-web/frontend/src/components/tab-bar.tsx
  seki-web/frontend/src/layouts/controls.tsx
  seki-web/static/css/controls.css
Due: prettier

feat: add accelerated move navigation hold
  seki-web/frontend/src/components/nav-controls.tsx
Due: prettier

fix(ai): unify estimate overlays
  plans/ai-integration-frontend.md
  plans/ai-integration-frontend/03-feature-extraction-and-ai-core.md
  plans/ai-integration-frontend/04-board-and-bot-screen.md
  seki-web/frontend/src/__tests__/live-game-board-section.test.ts
  seki-web/frontend/src/goban/create-board.tsx
  seki-web/frontend/src/layouts/analysis.tsx
  seki-web/frontend/src/layouts/live-game.tsx
  seki-web/frontend/src/layouts/live-game/board-section.tsx
Due: prettier

fix(ui): restrict live estimate controls
  seki-web/frontend/src/__tests__/capabilities.test.ts
  seki-web/frontend/src/__tests__/live-game-page.test.ts
  seki-web/frontend/src/game/capabilities/controls.ts
  seki-web/frontend/src/layouts/live-game-page.tsx
Due: prettier

refactor: unify analysis session behavior
  FRONTEND_SPEC.md
  plans/ai-integration-frontend.md
  plans/ai-integration-frontend/03-feature-extraction-and-ai-core.md
  seki-web/frontend/src/__tests__/analysis-session-controller.test.ts
  seki-web/frontend/src/__tests__/live-game-board-section.test.ts
  seki-web/frontend/src/layouts/analysis-page.tsx
  seki-web/frontend/src/layouts/analysis-session/controller.ts
  seki-web/frontend/src/layouts/analysis-session/overlays.ts
  seki-web/frontend/src/layouts/analysis-session/types.ts
  seki-web/frontend/src/layouts/analysis.tsx
  seki-web/frontend/src/layouts/live-game-page.tsx
  seki-web/frontend/src/layouts/live-game.tsx
  seki-web/frontend/src/layouts/live-game/board-section.tsx
  seki-web/frontend/src/layouts/live-game/phase-transitions.ts
Due: prettier

perf: reduce live tab switch work
  seki-web/frontend/src/__tests__/live-game-board-section.test.ts
  seki-web/frontend/src/goban/create-board.tsx
  seki-web/frontend/src/layouts/live-game.tsx
  seki-web/frontend/src/layouts/live-game/board-section.tsx
Due: prettier

test: add live tab benchmark harness
  pnpm-lock.yaml
  seki-web/frontend/package.json
  seki-web/frontend/scripts/live-tab-benchmark.mjs
Due: none

feat: tweak controls layout
  seki-web/frontend/src/components/nav-controls.tsx
  seki-web/frontend/src/layouts/controls.tsx
  seki-web/frontend/src/layouts/live-game-page.tsx
  seki-web/static/css/controls.css
  seki-web/static/css/desktop.css
  seki-web/static/css/medium.css
Due: prettier

feat: bot screen
  seki-web/frontend/src/__tests__/analysis-session-controller.test.ts
  seki-web/frontend/src/__tests__/create-board.test.ts
  seki-web/frontend/src/__tests__/routes.test.ts
  seki-web/frontend/src/app.tsx
  seki-web/frontend/src/components/controls-shared.tsx
  seki-web/frontend/src/components/game-controls.tsx
  seki-web/frontend/src/components/mobile-menu.tsx
  seki-web/frontend/src/components/ui-controls.tsx
  seki-web/frontend/src/goban/create-board.tsx
  seki-web/frontend/src/layouts/bot.tsx
  seki-web/frontend/src/spa/game-screens.tsx
  seki-web/frontend/src/spa/routes.ts
  seki-web/frontend/src/spa/screen.tsx
  seki-web/frontend/src/spa/types.ts
  seki-web/src/lib.rs
  seki-web/static/css/forms.css
  seki-web/static/css/styles.css
Due: rustfmt, clippy, prettier

feat: tweak controls layout
  seki-web/frontend/src/layouts/bot.tsx
Due: prettier

fix(bot): wire move confirmation + touch crosshair on bot screen
  seki-web/frontend/src/layouts/bot.tsx
Due: prettier

feat: finalize local bot games with AI scoring
  plans/ai-integration-frontend.md
  plans/ai-integration-frontend/00-overview.md
  plans/ai-integration-frontend/04-board-and-bot-screen.md
  seki-web/frontend/src/__tests__/bot-move.test.ts
  seki-web/frontend/src/__tests__/bot-score.test.ts
  seki-web/frontend/src/layouts/bot-move.ts
  seki-web/frontend/src/layouts/bot-score.ts
  seki-web/frontend/src/layouts/bot.tsx
  seki-web/frontend/src/layouts/form-variants/shared.tsx
Due: prettier

fix: show bot game player scores
  seki-web/frontend/src/layouts/bot.tsx
Due: prettier

refactor: extract reusable game board display
  seki-web/frontend/src/__tests__/controls.test.tsx
  seki-web/frontend/src/__tests__/game-board-display.test.tsx
  seki-web/frontend/src/components/controls-shared.tsx
  seki-web/frontend/src/components/game-board-display.tsx
  seki-web/frontend/src/components/nav-controls.tsx
  seki-web/frontend/src/components/player-panel.tsx
  seki-web/frontend/src/layouts/analysis-page.tsx
  seki-web/frontend/src/layouts/analysis-state.ts
  seki-web/frontend/src/layouts/bot.tsx
  seki-web/frontend/src/layouts/controls.tsx
  seki-web/frontend/src/layouts/game-page-layout.tsx
  seki-web/frontend/src/layouts/live-game-page.tsx
Due: prettier

feat: gate client AI models behind download prompt
  seki-web/frontend/src/__tests__/ai-model-download.test.ts
  seki-web/frontend/src/__tests__/analysis-session-controller.test.ts
  seki-web/frontend/src/ai-poc/types.ts
  seki-web/frontend/src/ai/analyze.ts
  seki-web/frontend/src/ai/model-download.ts
  seki-web/frontend/src/app.tsx
  seki-web/frontend/src/components/ai-model-download-dialog.tsx
  seki-web/frontend/src/layouts/analysis-session/controller.ts
  seki-web/frontend/src/layouts/bot.tsx
  seki-web/frontend/src/layouts/live-game.tsx
  seki-web/frontend/src/service-worker.ts
  seki-web/static/css/forms.css
  seki-web/static/models/kata9x9-b18c384nbt-20231025/manifest.json
  seki-web/static/models/kaya-b28c512-uint8/manifest.json
  seki-web/static/models/lionffen-b6c64-19x19/manifest.json
Due: prettier

feat: augment ai eval with dead-stone heuristics
  go-engine-wasm/src/policy_mcts.rs
  go-engine/src/mcts.rs
  go-engine/src/territory/dead_stones.rs
  seki-web/frontend/src/__tests__/bot-score.test.ts
  seki-web/frontend/src/ai-poc/harness.ts
  seki-web/frontend/src/ai-poc/random-mcts-worker.ts
  seki-web/frontend/src/ai-poc/types.ts
  seki-web/frontend/src/ai-poc/worker.ts
  seki-web/frontend/src/layouts/bot-score.ts
  seki-web/frontend/src/layouts/bot.tsx
Due: rustfmt, clippy, prettier

feat: port pass-alive area detection
  go-engine/src/territory/mod.rs
  go-engine/src/territory/pass_alive.rs
Due: rustfmt, clippy

feat: wire pass-alive area into mcts eval
  go-engine/src/mcts.rs
  go-engine/src/territory/mod.rs
  go-engine/src/territory/pass_alive.rs
Due: rustfmt, clippy

docs: update ai frontend integration plan
  plans/ai-integration-frontend.md
  plans/ai-integration-frontend/00-overview.md
  plans/ai-integration-frontend/02-model-cache-worker-runtime.md
  plans/ai-integration-frontend/03-feature-extraction-and-ai-core.md
  plans/ai-integration-frontend/04-board-and-bot-screen.md
  plans/ai-integration-frontend/05-mobile-performance-and-release.md
  plans/ai-integration-frontend/06-random-playout-mcts-engine-poc.md
  plans/territory-audit-plan.md
Due: none

fix: show move confirm button on mobile by overlaying nav controls
  seki-web/frontend/src/components/nav-controls.tsx
  seki-web/static/css/controls.css
Due: prettier

refactor: "phase" -> "mode"
  seki-web/frontend/src/__tests__/capabilities.test.ts
  seki-web/frontend/src/__tests__/mode.test.ts
  seki-web/frontend/src/__tests__/pending-actions.test.ts
  seki-web/frontend/src/game/capabilities/build-overlay.ts
  seki-web/frontend/src/game/capabilities/controls.ts
  seki-web/frontend/src/game/capabilities/live-game.ts
  seki-web/frontend/src/game/capabilities/status.ts
  seki-web/frontend/src/game/mode.ts
  seki-web/frontend/src/game/phase.ts
  seki-web/frontend/src/game/state.ts
  seki-web/frontend/src/layouts/live-game.tsx
  seki-web/frontend/src/layouts/live-game/game-info.tsx
Due: prettier

feat: allow mainline navigation in live view without switching to analysis
  seki-web/frontend/src/__tests__/live-game-board-section.test.ts
  seki-web/frontend/src/game/messages.ts
  seki-web/frontend/src/layouts/live-game.tsx
  seki-web/frontend/src/layouts/live-game/board-section.tsx
  seki-web/frontend/vitest.setup.ts
Due: prettier

fix: unde request notifications/dialog
  seki-web/frontend/src/__tests__/pending-actions.test.ts
  seki-web/frontend/src/game/state.ts
  seki-web/frontend/src/layouts/game-page-layout.tsx
  seki-web/src/ws/game_channel.rs
Due: rustfmt, clippy, prettier

fix: live game controls flicker from double boot on route data refresh
  seki-web/frontend/src/spa/game-screens.tsx
  seki-web/frontend/src/spa/route-data.ts
Due: prettier

feat(frontend): show menu icon next to user label in mobile nav
  seki-web/frontend/src/components/mobile-menu.tsx
  seki-web/static/css/base.css
Due: prettier

feat(frontend): slide-in drawer mobile menu with blur backdrop
  seki-web/frontend/src/components/mobile-menu.tsx
  seki-web/static/css/base.css
Due: prettier

fix(frontend): apply dark theme board dimming to all goban renders
  seki-web/static/css/goban.css
Due: none

feat(frontend): move live-game SGF export into mobile nav drawer
  seki-web/frontend/src/components/mobile-menu.tsx
  seki-web/frontend/src/game/state.ts
  seki-web/frontend/src/layouts/live-game-page.tsx
  seki-web/frontend/src/layouts/live-game.tsx
Due: prettier

feat(frontend): show 'Your turn' in status for own games
  seki-web/frontend/src/components/game-status.tsx
  seki-web/frontend/src/game/capabilities/status.ts
Due: prettier

refactor(frontend): replace navbar offline icon with compact presence dot
  seki-web/frontend/src/app.tsx
  seki-web/frontend/src/components/connection-status.tsx
  seki-web/frontend/src/components/icons.tsx
  seki-web/static/css/base.css
Due: prettier

feat: custom-settings mode for open games
  API_SPEC.md
  FRONTEND_SPEC.md
  seki-web/frontend/src/layouts/form-variants/open-game.tsx
  seki-web/migrations/013_open_game_custom_settings.sql
  seki-web/src/models/game.rs
  seki-web/src/routes/api/games.rs
  seki-web/src/routes/games.rs
  seki-web/src/services/game_actions/end_game.rs
  seki-web/src/services/game_actions/rematch.rs
  seki-web/src/services/game_creator.rs
  seki-web/src/services/game_joiner.rs
Due: rustfmt, clippy, prettier

docs: remove general agent guidelines from AGENTS.md
  AGENTS.md
Due: none

feat(frontend): guide iOS users to install PWA for push notifications
  seki-web/frontend/src/globals.d.ts
  seki-web/frontend/src/utils/os-notifications.ts
Due: prettier

feat(frontend): preload game state in service worker on push
  seki-web/frontend/src/service-worker.ts
Due: prettier

feat(push): notify users of incoming direct challenges
  seki-web/src/routes/api/games.rs
  seki-web/src/routes/games.rs
  seki-web/src/services/game_actions/rematch.rs
  seki-web/src/services/game_creator.rs
  seki-web/src/services/push.rs
  seki-web/src/ws/game_channel.rs
Due: rustfmt, clippy

refactor(frontend): dedupe analysis predicate and nav state, drop dead flash computeds
  seki-web/frontend/src/__tests__/pending-actions.test.ts
  seki-web/frontend/src/game/capabilities/build-overlay.ts
  seki-web/frontend/src/game/capabilities/controls.ts
  seki-web/frontend/src/game/capabilities/live-game.ts
  seki-web/frontend/src/game/mode.ts
  seki-web/frontend/src/game/state.ts
  seki-web/frontend/src/layouts/analysis-state.ts
  seki-web/frontend/src/utils/flash.ts
  seki-web/frontend/src/utils/preferences.ts
Due: prettier

fix(seki-web): drop komi from settled_territory score wire shape
  seki-web/src/routes/web_api/games.rs
  seki-web/src/services/state_assembly.rs
  seki-web/src/services/state_serializer.rs
Due: rustfmt, clippy

refactor(seki-api): merge StateSync/State into one State variant with hydrate_only flag
  seki-api/src/game.rs
  seki-api/src/ws.rs
  seki-gtp/src/bot.rs
  seki-random-bots/src/bot.rs
  seki-web/frontend/src/__tests__/pending-actions.test.ts
  seki-web/frontend/src/game/messages.ts
  seki-web/frontend/src/game/types.ts
  seki-web/src/services/state_serializer.rs
  seki-web/src/ws/game_channel.rs
  seki-web/tests/ws/common.rs
  seki-web/tests/ws/smoke.rs
Due: rustfmt, clippy, prettier
