Repository sqwxl/seki: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt, clippy, prettier

rustfmt:
  run: cargo fmt -- --check

clippy:
  run: cargo clippy --all-targets -- -D warnings

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

fix: game list polish — abort username, arrow nav, private icon, dismissed styling
  ISSUES.md
  seki-web/frontend/src/components/game-description.tsx
  seki-web/frontend/src/goban/create-board.tsx
  seki-web/frontend/src/layouts/games-list.tsx
  seki-web/frontend/src/layouts/user-games.tsx
  seki-web/src/services/game_actions/mod.rs
  seki-web/static/css/base.css
Due: rustfmt, clippy, prettier

feat: bold active player name in game lists
  seki-web/frontend/src/components/game-description.tsx
  seki-web/frontend/src/components/user-label.tsx
  seki-web/static/css/base.css
Due: prettier

refactor: always show black first in game list descriptions
  seki-web/frontend/src/components/game-description.tsx
Due: prettier

style: underline active player instead of bold in game lists
  seki-web/static/css/base.css
Due: none

style: move private icon to end of game list item
  seki-web/frontend/src/components/game-description.tsx
  seki-web/static/css/base.css
Due: prettier

fix: resign chat message, SGF filename date prefix, mask API token
  ISSUES.md
  seki-web/frontend/src/layouts/analysis.tsx
  seki-web/frontend/src/layouts/live-game.tsx
  seki-web/frontend/src/utils/format.ts
  seki-web/src/services/game_actions/mod.rs
  seki-web/templates/users/profile.html
Due: rustfmt, clippy, prettier

fix: reject undo response on finished game, logout stays on current page
  ISSUES.md
  seki-web/frontend/src/components/user-menu.tsx
  seki-web/src/services/game_actions/undo.rs
Due: rustfmt, clippy, prettier

fix: territory concave corner opacity matching surrounding paint
  seki-web/frontend/src/goban/vertex.tsx
Due: prettier

feat: allow playing on finalized nodes to start analysis variations
  seki-web/frontend/src/components/move-tree.tsx
  seki-web/frontend/src/goban/create-board.tsx
Due: prettier

feat: show status based on board position, hide result on non-finalized nodes
  go-engine-wasm/src/lib.rs
  seki-web/frontend/src/__tests__/capabilities.test.ts
  seki-web/frontend/src/components/game-status.tsx
  seki-web/frontend/src/game/capabilities.ts
  seki-web/frontend/src/game/state.ts
  seki-web/frontend/src/layouts/analysis-page.tsx
  seki-web/frontend/src/layouts/live-game.tsx
Due: rustfmt, clippy, prettier

feat: improve move tree UI — 2x scale on desktop, theme colors, selection indicator
  seki-web/frontend/src/components/move-tree.tsx
  seki-web/static/css/base.css
  seki-web/static/css/controls.css
Due: prettier

feat: show contextual territory status, remove territory chat broadcast
  seki-web/frontend/src/components/game-status.tsx
  seki-web/frontend/src/game/capabilities.ts
  seki-web/frontend/src/layouts/live-game.tsx
  seki-web/src/services/game_actions/mod.rs
  seki-web/tests/ws/pass.rs
Due: rustfmt, clippy, prettier

feat: disable estimate button on finalized nodes instead of hiding
  seki-web/frontend/src/__tests__/capabilities.test.ts
  seki-web/frontend/src/game/capabilities.ts
  seki-web/frontend/src/layouts/analysis-page.tsx
  seki-web/frontend/src/layouts/live-game-page.tsx
Due: prettier

fix: persist analysis state on every render so refresh restores cursor position
  go-engine/src/replay.rs
  seki-web/frontend/src/layouts/live-game.tsx
Due: rustfmt, clippy, prettier

fix: don't auto-enter analysis on refresh when user explicitly exited
  seki-web/frontend/src/layouts/live-game.tsx
Due: prettier

feat: share move tree between live and analysis modes
  seki-web/frontend/src/layouts/live-game.tsx
Due: prettier

fix: main-end navigation stops at base tip, analysis toggle is single button
  go-engine/src/replay.rs
  seki-web/frontend/src/components/controls.tsx
  seki-web/frontend/src/game/capabilities.ts
  seki-web/frontend/src/layouts/live-game-page.tsx
  seki-web/frontend/src/layouts/live-game.tsx
Due: rustfmt, clippy, prettier

fix: clock rounding, stale e2e tests, prune resolved issues
  ISSUES.md
  seki-web/frontend/src/game/clock.ts
  seki-web/tests/ws/api.rs
  seki-web/tests/ws/chat.rs
  seki-web/tests/ws/presentation.rs
  seki-web/tests/ws/territory.rs
Due: rustfmt, clippy, prettier

perf: share single postgres container across E2E tests via template DB
  seki-web/tests/ws/common.rs
Due: rustfmt, clippy

doc: remove check markup
  ISSUES.md
Due: none

fix: player panels and status show board score on finalized analysis nodes
  seki-web/frontend/src/game/capabilities.ts
  seki-web/frontend/src/game/state.ts
  seki-web/frontend/src/layouts/live-game.tsx
Due: prettier

refactor: move territory accept into nav counter slot
  ISSUES.md
  seki-web/frontend/src/components/controls.tsx
  seki-web/frontend/src/layouts/controls.tsx
  seki-web/frontend/src/layouts/live-game-page.tsx
Due: prettier

fix: clear stale crosshair on turn change, prevent duplicate game-over broadcasts
  ISSUES.md
  seki-web/frontend/src/goban/goban.tsx
  seki-web/src/models/game.rs
  seki-web/src/services/game_actions/mod.rs
  seki-web/src/services/game_actions/territory.rs
Due: rustfmt, clippy, prettier

fix: dismiss pending undo request UI when game ends
  ISSUES.md
  seki-web/frontend/src/game/state.ts
Due: prettier

fix: time control radio not restored from saved form state
  ISSUES.md
  seki-web/frontend/src/layouts/game-settings-form.tsx
Due: prettier

fix: prune resolved issues, warn on silent clock reset fallback
  ISSUES.md
  seki-web/src/ws/game_channel.rs
Due: rustfmt, clippy

fix: sync move confirmation toggle with pending premove state
  ISSUES.md
  seki-web/frontend/src/layouts/live-game.tsx
Due: prettier

chore: prune resolved issues (timeout idempotency, territory auto-confirm)
  ISSUES.md
Due: none

test: verify dead stones count as opponent captures in scoring
  ISSUES.md
  go-engine/src/territory.rs
Due: rustfmt, clippy

test: verify Fischer increment applied correctly on fast moves
  ISSUES.md
  seki-web/src/services/clock.rs
Due: rustfmt, clippy

chore: remove stale invite link issue
  ISSUES.md
Due: none

dx: dev -> run
  justfile
Due: none

refactor: move state derivation into capabilities modules
  seki-web/frontend/src/__tests__/capabilities.test.ts
  seki-web/frontend/src/components/controls.tsx
  seki-web/frontend/src/game/capabilities.ts
  seki-web/frontend/src/layouts/analysis-page.tsx
  seki-web/frontend/src/layouts/analysis-state.ts
  seki-web/frontend/src/layouts/analysis.tsx
  seki-web/frontend/src/layouts/controls.tsx
  seki-web/frontend/src/layouts/live-game-page.tsx
Due: prettier

feat: add komi icon and adjustable komi control on analysis page
  seki-web/frontend/src/components/controls.tsx
  seki-web/frontend/src/components/icons.tsx
  seki-web/frontend/src/game/capabilities.ts
  seki-web/frontend/src/goban/create-board.tsx
  seki-web/frontend/src/layouts/analysis-page.tsx
  seki-web/frontend/src/layouts/analysis-state.ts
  seki-web/frontend/src/layouts/analysis.tsx
  seki-web/frontend/src/layouts/game-settings-form.tsx
  seki-web/frontend/src/utils/storage.ts
  seki-web/static/css/controls.css
Due: prettier

chore: add plus_minus.svg source icon
  seki-web/static/images/plus_minus.svg
Due: none

fix: clear stale --col-width on desktop→mobile transition
  seki-web/frontend/src/goban/create-board.tsx
Due: prettier

dx: update recipes
  justfile
Due: none

feat: add global disconnection indicator in navbar
  seki-web/frontend/src/components/connection-status.tsx
  seki-web/frontend/src/game/messages.ts
  seki-web/frontend/src/index.ts
  seki-web/frontend/src/ws.ts
  seki-web/templates/base.html
Due: prettier

feat: pause local clock display when disconnected
  ISSUES.md
  seki-web/frontend/src/game/clock.ts
Due: prettier

feat: delay local disconnection indicator by 3s
  seki-web/frontend/src/game/types.ts
  seki-web/frontend/src/ws.ts
Due: prettier

Path conditions:
  rustfmt: any of: *.rs
  clippy: any of: *.rs
  prettier: any of: *.{ts,tsx} and ^seki\-web/frontend/
