Repository sqwxl/seki: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt, clippy, prettier

rustfmt:
  run: cargo fmt -- --check

clippy:
  run: cargo clippy --all-targets -- -D warnings

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

perf: improve frontend lazy loading and cleanup
  seki-web/frontend/src/app.tsx
  seki-web/frontend/src/goban/create-board.tsx
  seki-web/frontend/src/goban/goban.tsx
  seki-web/frontend/src/layouts/form-variants/direct-challenge.tsx
  seki-web/frontend/src/layouts/live-game-page.tsx
  seki-web/frontend/src/spa/game-screens.tsx
Due: prettier

fix: improve push notification deployment
  scripts/package-release.sh
  scripts/setup-runtime-service.sh
  seki-web/src/ws/game_channel.rs
  specs/002-pwa-auth-push/quickstart.md
Due: rustfmt, clippy

chore: remove file size check script and reference
  AGENTS.md
  scripts/check-file-size.sh
Due: none

fix: fetch generated assets before service worker cache
  seki-web/frontend/src/service-worker.ts
Due: prettier

fix: stretch mobile game tab bar
  seki-web/static/css/base.css
  seki-web/static/css/goban.css
Due: none

fix: restore live board after analysis tab
  seki-web/frontend/src/goban/create-board.tsx
  seki-web/frontend/src/layouts/live-game.tsx
Due: prettier

fix: emit unbundled frontend modules in dev
  seki-web/frontend/build.mjs
Due: none

fix: give player names more panel space
  seki-web/static/css/goban.css
Due: none

fix: preserve move tree node when entering analysis
  seki-web/frontend/src/layouts/live-game.tsx
  seki-web/frontend/src/layouts/live-game/board-section.tsx
Due: prettier

feat: tweak mobile-tab-bar style
  seki-web/static/css/base.css
Due: none

feat: always use pnpm dlx prettier
  lefthook.yml
Due: none

fix: force fresh generated assets
  seki-web/frontend/src/service-worker.ts
  seki-web/frontend/src/spa/screen-state.tsx
  seki-web/src/lib.rs
Due: rustfmt, clippy, prettier

chore: update deps
  Cargo.lock
  pnpm-lock.yaml
  seki-web/Cargo.toml
  seki-web/frontend/package.json
Due: none

fix: snapshot rating for unranked games to keep rank display consistent
  seki-web/src/services/game_actions/challenges.rs
  seki-web/src/services/game_creator.rs
  seki-web/src/services/game_joiner.rs
  seki-web/src/services/live.rs
  seki-web/src/services/rating.rs
Due: rustfmt, clippy

fix: center game-info-popover with fixed positioning
  seki-web/static/css/base.css
  seki-web/static/css/game-info.css
Due: none

refactor: simplify live game capabilities
  FRONTEND_SPEC.md
  seki-web/frontend/src/__tests__/access.test.ts
  seki-web/frontend/src/__tests__/capabilities.test.ts
  seki-web/frontend/src/components/lobby-popover.tsx
  seki-web/frontend/src/game/access.ts
  seki-web/frontend/src/game/capabilities/live-game.ts
  seki-web/frontend/src/game/capabilities/status.ts
  seki-web/frontend/src/game/capabilities/types.ts
  seki-web/frontend/src/game/state.ts
  seki-web/frontend/src/game/types.ts
  seki-web/frontend/src/layouts/live-game-page.tsx
  seki-web/src/routes/web_api/games.rs
  seki-web/src/templates/games_show.rs
Due: rustfmt, clippy, prettier

fix: default komi for handicap games
  seki-web/frontend/src/layouts/form-variants/direct-challenge/time-control.tsx
  seki-web/frontend/src/layouts/form-variants/email-invite.tsx
  seki-web/frontend/src/layouts/form-variants/open-game.tsx
Due: prettier

refactor: reuse game settings form controls
  seki-web/frontend/src/layouts/form-variants/direct-challenge.tsx
  seki-web/frontend/src/layouts/form-variants/direct-challenge/time-control.tsx
  seki-web/frontend/src/layouts/form-variants/email-invite.tsx
  seki-web/frontend/src/layouts/form-variants/open-game.tsx
  seki-web/frontend/src/layouts/form-variants/shared.tsx
  seki-web/frontend/src/layouts/game-settings-form.tsx
Due: prettier

feat: switch board size input to select
  seki-web/frontend/src/layouts/form-variants/shared.tsx
Due: prettier

fix: HMR
  .gitignore
  justfile
  seki-web/frontend/build.mjs
  seki-web/frontend/src/index.ts
  seki-web/frontend/src/service-worker.ts
  seki-web/src/lib.rs
  seki-web/src/main.rs
  seki-web/src/routes/mod.rs
  seki-web/src/routes/reload.rs
Due: rustfmt, clippy, prettier

refactor: clean up game form variants
  seki-web/frontend/src/__tests__/direct-challenge-settings.test.ts
  seki-web/frontend/src/layouts/form-variants/board-parameters.tsx
  seki-web/frontend/src/layouts/form-variants/direct-challenge.tsx
  seki-web/frontend/src/layouts/form-variants/direct-challenge/ranked-settings.ts
  seki-web/frontend/src/layouts/form-variants/direct-challenge/time-control.tsx
  seki-web/frontend/src/layouts/form-variants/email-invite.tsx
  seki-web/frontend/src/layouts/form-variants/open-game.tsx
  seki-web/frontend/src/layouts/form-variants/shared.tsx
  seki-web/frontend/src/layouts/game-settings-form.tsx
  seki-web/src/routes/games.rs
  seki-web/src/services/game_creator.rs
  seki-web/src/services/rating/eligibility.rs
  seki-web/static/css/forms.css
  seki-web/tests/ws/common.rs
  seki-web/tests/ws/rating.rs
  seki-web/tests/ws/validation.rs
Due: rustfmt, clippy, prettier

fix: suppress push notifications for active targets
  seki-web/frontend/src/service-worker.ts
Due: prettier

refactor: extract rating participation into separate component, clean up form CSS
  seki-web/frontend/src/__tests__/rating-preferences.test.ts
  seki-web/frontend/src/app.tsx
  seki-web/frontend/src/components/notification-settings.tsx
  seki-web/frontend/src/components/rating-participation-settings.tsx
  seki-web/frontend/src/layouts/form-variants/shared.tsx
  seki-web/frontend/src/layouts/game-settings-form.tsx
  seki-web/frontend/src/spa/profile-screen.tsx
  seki-web/static/css/base.css
  seki-web/static/css/forms.css
Due: prettier

refactor: centralize __DEV__ declaration in globals.d.ts, fix push service worker registration
  seki-web/frontend/src/globals.d.ts
  seki-web/frontend/src/index.ts
  seki-web/frontend/src/push.ts
  seki-web/frontend/src/service-worker.ts
Due: prettier

chore: tweak deployment
  README.md
  scripts/deploy-prebuilt.sh
  scripts/install-release.sh
  scripts/package-release.sh
  scripts/setup-runtime-service.sh
  scripts/verify-release.sh
  seki-web/src/lib.rs
  seki-web/src/main.rs
  seki-web/src/routes/health.rs
  seki-web/static/manifest.json
Due: rustfmt, clippy

refactor: make color select in pregame settings popover contextual
  seki-web/frontend/src/components/lobby-popover.tsx
  seki-web/frontend/src/layouts/live-game-page.tsx
Due: prettier

refactor: replace client-side max handicap logic with WASM, fix join flow, add contextual pregame settings
  go-engine-wasm/src/lib.rs
  seki-web/frontend/src/components/controls-shared.tsx
  seki-web/frontend/src/components/lobby-popover.tsx
  seki-web/frontend/src/game/types.ts
  seki-web/frontend/src/goban/init-wasm.ts
  seki-web/frontend/src/index.ts
  seki-web/frontend/src/layouts/form-variants/board-parameters.tsx
  seki-web/frontend/src/layouts/form-variants/direct-challenge.tsx
  seki-web/frontend/src/layouts/form-variants/email-invite.tsx
  seki-web/frontend/src/layouts/form-variants/shared.tsx
  seki-web/frontend/src/layouts/live-game-page.tsx
  seki-web/src/services/state_serializer.rs
  seki-web/static/css/base.css
Due: rustfmt, clippy, prettier

fix: slow down form sync flash
  seki-web/frontend/src/components/lobby-popover.tsx
  seki-web/static/css/base.css
Due: prettier

feat: require userdata in label api
  seki-web/frontend/src/__tests__/access.test.ts
  seki-web/frontend/src/__tests__/pending-actions.test.ts
  seki-web/frontend/src/__tests__/user-label.test.tsx
  seki-web/frontend/src/components/chat.tsx
  seki-web/frontend/src/components/game-description.tsx
  seki-web/frontend/src/components/game-info.tsx
  seki-web/frontend/src/components/lobby-popover.tsx
  seki-web/frontend/src/components/player-panel.tsx
  seki-web/frontend/src/components/user-label.tsx
  seki-web/frontend/src/components/user-menu.tsx
  seki-web/frontend/src/game/access.ts
  seki-web/frontend/src/game/state.ts
  seki-web/frontend/src/layouts/analysis-page.tsx
  seki-web/frontend/src/layouts/analysis-state.ts
  seki-web/frontend/src/layouts/analysis.tsx
  seki-web/frontend/src/layouts/form-variants/opponent-select.tsx
  seki-web/frontend/src/spa/profile-screen.tsx
  seki-web/frontend/src/spa/types.ts
  seki-web/src/models/game.rs
  seki-web/src/services/game_actions/pregame_settings.rs
  seki-web/tests/ws/game_lifecycle.rs
Due: rustfmt, clippy, prettier

feat: bump disconnect timeout duration
  seki-web/frontend/src/ws.ts
Due: prettier

feat: show Unranked in game info bar
  seki-web/frontend/src/components/game-info.tsx
Due: prettier

fix: pass rating profiles through serialize_state to fix rank inconsistency in player panels
  seki-web/frontend/src/components/user-menu.tsx
  seki-web/src/routes/api/users.rs
  seki-web/src/routes/games.rs
  seki-web/src/routes/web_api/games.rs
  seki-web/src/services/game_actions/mod.rs
  seki-web/src/services/rating.rs
  seki-web/src/services/state_serializer.rs
  seki-web/src/ws/game_channel.rs
Due: rustfmt, clippy, prettier

feat: red Aborted; rank effect msg
  seki-web/frontend/src/components/game-info.tsx
  seki-web/frontend/src/components/game-status.tsx
  seki-web/frontend/src/layouts/live-game-page.tsx
  seki-web/static/css/base.css
Due: prettier

chore: drop .specify from vcs
  .specify/extensions.yml
  .specify/extensions/.registry
  .specify/extensions/git/README.md
  .specify/extensions/git/commands/speckit.git.commit.md
  .specify/extensions/git/commands/speckit.git.feature.md
  .specify/extensions/git/commands/speckit.git.initialize.md
  .specify/extensions/git/commands/speckit.git.remote.md
  .specify/extensions/git/commands/speckit.git.validate.md
  .specify/extensions/git/config-template.yml
  .specify/extensions/git/extension.yml
  .specify/extensions/git/git-config.yml
  .specify/extensions/git/scripts/bash/auto-commit.sh
  .specify/extensions/git/scripts/bash/create-new-feature.sh
  .specify/extensions/git/scripts/bash/git-common.sh
  .specify/extensions/git/scripts/bash/initialize-repo.sh
  .specify/extensions/git/scripts/powershell/auto-commit.ps1
  .specify/extensions/git/scripts/powershell/create-new-feature.ps1
  .specify/extensions/git/scripts/powershell/git-common.ps1
  .specify/extensions/git/scripts/powershell/initialize-repo.ps1
  .specify/feature.json
  .specify/init-options.json
  .specify/integration.json
  .specify/integrations/speckit.manifest.json
  .specify/memory/constitution.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/setup-tasks.sh
  .specify/templates/checklist-template.md
  .specify/templates/constitution-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
  .specify/workflows/speckit/workflow.yml
  .specify/workflows/workflow-registry.json
Due: none

fix: restore auth before anonymous bootstrap
  seki-web/frontend/src/__tests__/user-data.test.ts
  seki-web/frontend/src/app.tsx
  seki-web/frontend/src/components/user-menu.tsx
  seki-web/frontend/src/game/util.ts
  seki-web/frontend/src/index.ts
  seki-web/frontend/src/utils/storage.ts
  seki-web/src/routes/auth.rs
  seki-web/src/routes/mod.rs
  seki-web/src/routes/spa.rs
  seki-web/src/session.rs
  seki-web/src/templates/shell.rs
  seki-web/templates/spa_shell.html
  seki-web/tests/ws/smoke.rs
Due: rustfmt, clippy, prettier

fix: show anonymous rank placeholder
  seki-web/frontend/src/__tests__/rating-format.test.ts
  seki-web/frontend/src/components/user-rank.tsx
  seki-web/frontend/src/utils/rating.ts
Due: prettier

Path conditions:
  rustfmt: any of: *.rs
  clippy: any of: *.rs
  prettier: any of: *.{ts,tsx} and ^seki\-web/frontend/
