Repository sqwxl/seki: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt, clippy, prettier

rustfmt:
  run: cargo fmt -- --check

clippy:
  run: cargo clippy --all-targets -- -D warnings

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

fix: render user-facing error messages without error-name prefix
  seki-web/src/error.rs
  seki-web/src/routes/games.rs
  seki-web/src/ws/game_channel.rs
Due: rustfmt, clippy

fix: persist service logging config across deploys
  scripts/setup-runtime-service.sh
Due: none

chore: run tests before deploy
  justfile
Due: none

feat: submit buttons show loading and success states without page reload
  seki-web/frontend/src/components/submit-button.tsx
  seki-web/frontend/src/spa/profile-screen.tsx
Due: prettier

feat: optional email on registration with no-email warnings
  seki-web/frontend/src/spa/auth-screens.tsx
  seki-web/frontend/src/spa/profile-screen.tsx
  seki-web/src/routes/auth.rs
Due: rustfmt, clippy, prettier

fix: allow clearing a stored email
  seki-web/src/models/user.rs
  seki-web/src/routes/auth.rs
  seki-web/src/routes/settings.rs
Due: rustfmt, clippy

style: color prose links blue, keep nav and user labels inheriting
  seki-web/static/css/base.css
Due: none

feat: show only nav brand on auth pages
  seki-web/frontend/src/app.tsx
Due: prettier

fix: drop visited link styling
  seki-web/static/css/base.css
Due: none

feat: password reset flow
  seki-web/frontend/src/app.tsx
  seki-web/frontend/src/spa/auth-screens.tsx
  seki-web/frontend/src/spa/reset-password-screen.tsx
  seki-web/frontend/src/spa/routes.ts
  seki-web/frontend/src/spa/screen.tsx
  seki-web/frontend/src/spa/types.ts
  seki-web/frontend/src/utils/constants.ts
  seki-web/migrations/014_password_resets.sql
  seki-web/src/lib.rs
  seki-web/src/models/user.rs
  seki-web/src/routes/auth.rs
  seki-web/src/routes/flash.rs
  seki-web/src/services/mailer.rs
  seki-web/src/services/mod.rs
  seki-web/src/services/password_reset.rs
Due: rustfmt, clippy, prettier

chore: run cheap pre-commit checks first
  .lefthook.yml
Due: none

fix: defer websocket connect until the session is ready
  seki-web/frontend/src/app.tsx
  seki-web/frontend/src/ws.ts
  seki-web/src/ws/live.rs
Due: rustfmt, clippy, prettier

feat: email invites mint a challengee-bound login link
  .gitignore
  AGENTS.md
  Cargo.lock
  pnpm-lock.yaml
  seki-web/Cargo.toml
  seki-web/frontend/e2e/invite.spec.ts
  seki-web/frontend/e2e/server.mjs
  seki-web/frontend/package.json
  seki-web/frontend/playwright.config.ts
  seki-web/frontend/src/spa/game-screens.tsx
  seki-web/frontend/src/spa/routes.ts
  seki-web/frontend/src/spa/types.ts
  seki-web/frontend/src/ws.ts
  seki-web/frontend/tsconfig.json
  seki-web/frontend/vitest.config.ts
  seki-web/migrations/015_game_challenge_tokens.sql
  seki-web/migrations/016_emails_lowercase.sql
  seki-web/migrations/017_game_challenge_tokens_sha256.sql
  seki-web/src/lib.rs
  seki-web/src/models/user.rs
  seki-web/src/routes/api/games.rs
  seki-web/src/routes/api/users.rs
  seki-web/src/routes/auth.rs
  seki-web/src/routes/games.rs
  seki-web/src/routes/invite.rs
  seki-web/src/routes/mod.rs
  seki-web/src/routes/settings.rs
  seki-web/src/routes/web_api/games.rs
  seki-web/src/services/challenge_invites.rs
  seki-web/src/services/game_actions/rematch.rs
  seki-web/src/services/game_creator.rs
  seki-web/src/services/mailer.rs
  seki-web/src/services/mod.rs
  seki-web/src/services/password_reset.rs
  seki-web/src/services/tokens.rs
  seki-web/tests/ws/common.rs
  seki-web/tests/ws/invite.rs
  seki-web/tests/ws/main.rs
Due: rustfmt, clippy, prettier

fix: persist session key across restarts via SESSION_SECRET
  seki-web/src/lib.rs
Due: rustfmt, clippy

fix: keep bootstrap flash visible past auth resolution
  seki-web/frontend/src/app.tsx
Due: prettier

fix: guard nav click handlers against non-element targets
  seki-web/frontend/src/app.tsx
Due: prettier

fix(push): repair dead push subscriptions
  seki-web/frontend/src/__tests__/os-notifications.test.ts
  seki-web/frontend/src/app.tsx
  seki-web/frontend/src/push.ts
  seki-web/frontend/src/service-worker.ts
  seki-web/frontend/src/utils/os-notifications.ts
Due: prettier

fix: json errors for web create and ranked-clamped challenge form
  seki-web/frontend/src/layouts/form-variants/direct-challenge.tsx
  seki-web/src/routes/games.rs
Due: rustfmt, clippy, prettier

fix(push): suppress notifications while the app is open, server-side
  seki-web/frontend/src/app.tsx
  seki-web/frontend/src/utils/os-notifications.ts
  seki-web/migrations/018_push_visibility.sql
  seki-web/src/models/push_destination.rs
  seki-web/src/routes/api/mod.rs
  seki-web/src/routes/push.rs
  seki-web/src/services/push.rs
  seki-web/tests/ws/invite.rs
Due: rustfmt, clippy, prettier

fix: prefill invite email in registration and redirect to new profile
  seki-web/frontend/src/spa/auth-screens.tsx
  seki-web/src/routes/auth.rs
Due: rustfmt, clippy, prettier

feat: anon users see the same profile settings as registered users
  seki-web/frontend/src/components/rating-participation-settings.tsx
  seki-web/frontend/src/spa/profile-screen.tsx
  seki-web/src/routes/settings.rs
  seki-web/src/routes/users.rs
Due: rustfmt, clippy, prettier

fix: email notification toggles follow email changes immediately
  seki-web/frontend/src/spa/profile-screen.tsx
Due: prettier

feat: include the invite message and creator in invitation emails
  seki-web/src/routes/api/games.rs
  seki-web/src/routes/games.rs
  seki-web/src/services/mailer.rs
Due: rustfmt, clippy

chore: add .tokeignore
  .tokeignore
Due: none

feat: email turn reminders for correspondence games at 12h left
  seki-web/migrations/019_corr_turn_emails.sql
  seki-web/src/models/game.rs
  seki-web/src/models/user.rs
  seki-web/src/services/clock_sweep.rs
  seki-web/src/services/mailer.rs
Due: rustfmt, clippy

fix(push): dead destinations no longer block new subscriptions
  seki-web/frontend/src/__tests__/os-notifications.test.ts
  seki-web/frontend/src/utils/os-notifications.ts
  seki-web/src/models/push_destination.rs
  seki-web/src/routes/push.rs
  seki-web/src/services/push.rs
Due: rustfmt, clippy, prettier

feat: show an anonymous-account banner on own profile
  seki-web/frontend/src/spa/profile-screen.tsx
  seki-web/static/css/base.css
Due: prettier

fix: suppress blue tap highlight on the navbar brand link
  seki-web/static/css/base.css
Due: none

feat: confirm email addresses via one-time links
  seki-web/frontend/src/app.tsx
  seki-web/frontend/src/spa/auth-screens.tsx
  seki-web/frontend/src/spa/profile-screen.tsx
  seki-web/frontend/src/spa/routes.ts
  seki-web/frontend/src/spa/screen.tsx
  seki-web/frontend/src/spa/types.ts
  seki-web/migrations/020_email_confirmation.sql
  seki-web/src/models/user.rs
  seki-web/src/routes/auth.rs
  seki-web/src/routes/invite.rs
  seki-web/src/routes/settings.rs
  seki-web/src/routes/web_api/email.rs
  seki-web/src/routes/web_api/mod.rs
  seki-web/src/routes/web_api/users.rs
  seki-web/src/services/challenge_invites.rs
  seki-web/src/services/email_confirmation.rs
  seki-web/src/services/mailer.rs
  seki-web/src/services/mod.rs
  seki-web/src/services/password_reset.rs
  seki-web/src/services/tokens.rs
  seki-web/tests/ws/email_confirmation.rs
  seki-web/tests/ws/invite.rs
  seki-web/tests/ws/main.rs
Due: rustfmt, clippy, prettier

feat: daily maintenance sweep for tokens and stale anonymous accounts
  seki-web/src/main.rs
  seki-web/src/services/maintenance.rs
  seki-web/src/services/mod.rs
  seki-web/tests/ws/main.rs
  seki-web/tests/ws/maintenance.rs
Due: rustfmt, clippy

chore: add filled check icon asset
  seki-web/static/images/check_fill.svg
Due: none

fix: log maintenance sweep only when something was purged
  seki-web/src/services/maintenance.rs
Due: rustfmt, clippy

refactor: use one token generator everywhere
  seki-web/src/models/user.rs
  seki-web/src/services/game_creator.rs
Due: rustfmt, clippy

refactor: key sessions by user id, drop the plaintext session_token
  seki-web/migrations/021_drop_session_token.sql
  seki-web/src/models/user.rs
  seki-web/src/routes/auth.rs
  seki-web/src/routes/invite.rs
  seki-web/src/session.rs
  seki-web/tests/ws/common.rs
  seki-web/tests/ws/maintenance.rs
Due: rustfmt, clippy

feat: hash api tokens at rest
  seki-web/frontend/src/spa/profile-screen.tsx
  seki-web/frontend/src/spa/types.ts
  seki-web/migrations/022_hash_api_token.sql
  seki-web/src/models/user.rs
  seki-web/src/routes/settings.rs
  seki-web/src/routes/web_api/users.rs
  seki-web/src/services/tokens.rs
  seki-web/tests/ws/common.rs
Due: rustfmt, clippy, prettier

feat: api tokens expire after a year
  seki-web/migrations/023_api_token_expiry.sql
  seki-web/src/models/user.rs
  seki-web/tests/ws/api.rs
  seki-web/tests/ws/common.rs
Due: rustfmt, clippy

refactor: remove the vestigial game invite_token/invite_only mechanism
  .lefthook.yml
  AGENTS.md
  justfile
  seki-api/src/game.rs
  seki-api/src/ws.rs
  seki-api/tests/deser_test.rs
  seki-web/migrations/024_drop_game_invite_token.sql
  seki-web/src/models/game.rs
  seki-web/src/routes/api/games.rs
  seki-web/src/routes/api/messages.rs
  seki-web/src/routes/api/turns.rs
  seki-web/src/routes/api/users.rs
  seki-web/src/routes/games.rs
  seki-web/src/routes/web_api/games.rs
  seki-web/src/services/game_access.rs
  seki-web/src/services/game_actions/end_game.rs
  seki-web/src/services/game_creator.rs
  seki-web/src/services/game_joiner.rs
  seki-web/src/services/live.rs
  seki-web/src/services/rating/eligibility.rs
  seki-web/src/ws/live.rs
  seki-web/tests/ws/common.rs
  seki-web/tests/ws/private_game.rs
Due: rustfmt, clippy

chore: index pending_email for the invite lookup
  seki-web/migrations/025_pending_email_index.sql
Due: none

refactor: replace app-credential JWTs with opaque tokens
  AGENTS.md
  seki-web/Cargo.toml
  seki-web/migrations/026_opaque_app_credentials.sql
  seki-web/src/lib.rs
  seki-web/src/models/app_credential.rs
  seki-web/src/models/mod.rs
  seki-web/src/models/server_config.rs
  seki-web/src/routes/auth.rs
  seki-web/src/services/jwt.rs
  seki-web/src/services/mod.rs
Due: rustfmt, clippy

chore: drop jsonwebtoken from the lockfile
  Cargo.lock
Due: none

Path conditions:
  rustfmt: any of: *.rs
  clippy: any of: *.rs
  prettier: any of: *.{ts,tsx} and ^seki\-web/frontend/
