Repository sqwxl/seki: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt, clippy, prettier

rustfmt:
  run: cargo fmt -- --check

clippy:
  run: cargo clippy --all-targets -- -D warnings

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

feat: drop hard black/white association
  seki-api/src/game.rs
  seki-gtp/src/bot.rs
  seki-web/frontend/src/components/lobby-popover.tsx
  seki-web/frontend/src/game/messages.ts
  seki-web/frontend/src/game/types.ts
  seki-web/frontend/src/goban/create-board.tsx
  seki-web/frontend/src/layouts/live-game.tsx
  seki-web/migrations/012_rename_pregame_approval_columns.sql
  seki-web/src/models/pregame_settings.rs
  seki-web/src/services/game_actions/pregame_settings.rs
  seki-web/src/services/state_serializer.rs
  seki-web/static/css/base.css
Due: rustfmt, clippy, prettier

feat: tweak mobile menu
  seki-web/frontend/src/components/mobile-menu.tsx
  seki-web/frontend/src/components/settings-menu.tsx
Due: prettier

fix: constrain mobile notification dropdown
  seki-web/frontend/src/components/notification-bell.tsx
  seki-web/static/css/base.css
Due: prettier

feat: add rating graph game tooltips
  seki-web/frontend/src/__tests__/profile-rating-graph.test.ts
  seki-web/frontend/src/components/profile-rating-graph.tsx
  seki-web/frontend/src/spa/profile-screen.tsx
  seki-web/frontend/src/spa/types.ts
  seki-web/src/services/rating/profile.rs
  seki-web/static/css/profile.css
Due: rustfmt, clippy, prettier

feat(ai): checkpoint browser inference conversion poc
  .gitignore
  plans/ai-integration-frontend.md
  plans/ai-integration-frontend/00-overview.md
  plans/ai-integration-frontend/01-nn-conversion-browser-inference-poc.md
  plans/ai-integration-frontend/06-random-playout-mcts-engine-poc.md
  seki-web/frontend/src/ai-poc/harness.ts
  seki-web/frontend/src/ai-poc/worker.ts
  seki-web/static/ai-poc.html
  seki-web/static/models/lionffen-b6c64-19x19/README.md
  seki-web/static/models/lionffen-b6c64-19x19/manifest.json
  tools/katago-export-onnx.cpp
  tools/katago-export-onnx.md
Due: prettier

feat(ai): add policy mcts poc
  plans/ai-integration-frontend/01-nn-conversion-browser-inference-poc.md
  plans/ai-integration-frontend/06-random-playout-mcts-engine-poc.md
  seki-web/frontend/src/__tests__/ai-poc-mcts.test.ts
  seki-web/frontend/src/ai-poc/harness.ts
  seki-web/frontend/src/ai-poc/mcts.ts
  seki-web/frontend/src/ai-poc/types.ts
  seki-web/frontend/src/ai-poc/worker.ts
  seki-web/static/models/lionffen-b6c64-19x19/README.md
  tools/build-katago-export-onnx.sh
  tools/export-lionffen-b6c64-19x19.sh
  tools/katago-export-onnx.md
Due: prettier

feat(engine): add mcts action boundary
  go-engine/src/lib.rs
  go-engine/src/mcts.rs
  plans/ai-integration-frontend/06-random-playout-mcts-engine-poc.md
Due: rustfmt, clippy

feat(engine): add random mcts evaluator primitives
  go-engine/src/mcts.rs
  plans/ai-integration-frontend/06-random-playout-mcts-engine-poc.md
Due: rustfmt, clippy

feat(engine): add graph mcts driver
  go-engine/src/mcts.rs
  plans/ai-integration-frontend/06-random-playout-mcts-engine-poc.md
Due: rustfmt, clippy

fix: enforce live game board base tip
  go-engine/src/replay.rs
  seki-web/frontend/src/__tests__/live-game-board-section.test.ts
  seki-web/frontend/src/goban/create-board.tsx
  seki-web/frontend/src/layouts/live-game/board-section.tsx
Due: rustfmt, clippy, prettier

fix: isolate release static build
  scripts/package-release.sh
  seki-web/frontend/build.mjs
Due: none

fix: stop restoring live analysis mode
  seki-web/frontend/src/__tests__/live-game-sidebar.test.ts
  seki-web/frontend/src/layouts/live-game.tsx
  seki-web/frontend/src/layouts/live-game/board-section.tsx
  seki-web/frontend/src/layouts/live-game/game-info.tsx
  seki-web/frontend/src/layouts/live-game/sidebar.tsx
Due: prettier

feat(engine): guard graph mcts cycles
  go-engine/src/mcts.rs
  plans/ai-integration-frontend/06-random-playout-mcts-engine-poc.md
Due: rustfmt, clippy

feat(ai): expose rust random mcts poc
  go-engine-wasm/src/lib.rs
  go-engine-wasm/src/random_mcts.rs
  go-engine/src/mcts.rs
  plans/ai-integration-frontend/06-random-playout-mcts-engine-poc.md
  seki-web/frontend/build.mjs
  seki-web/frontend/src/ai-poc/harness.ts
  seki-web/frontend/src/ai-poc/random-mcts-worker.ts
  seki-web/frontend/src/ai-poc/types.ts
  seki-web/frontend/src/ai-poc/worker.ts
Due: rustfmt, clippy, prettier

feat(ai): shape random mcts fallback priors
  go-engine-wasm/src/random_mcts.rs
  go-engine/src/mcts.rs
  plans/ai-integration-frontend/06-random-playout-mcts-engine-poc.md
  seki-web/frontend/src/ai-poc/harness.ts
  seki-web/frontend/src/ai-poc/random-mcts-worker.ts
  seki-web/frontend/src/ai-poc/types.ts
Due: rustfmt, clippy, prettier

feat(ai): seed rust mcts from model policy
  go-engine-wasm/src/random_mcts.rs
  go-engine/src/mcts.rs
  plans/ai-integration-frontend/06-random-playout-mcts-engine-poc.md
  seki-web/frontend/src/ai-poc/harness.ts
  seki-web/frontend/src/ai-poc/random-mcts-worker.ts
  seki-web/frontend/src/ai-poc/types.ts
  seki-web/frontend/src/ai-poc/worker.ts
Due: rustfmt, clippy, prettier

feat(ai): add leaf-policy MCTS path
  go-engine-wasm/src/lib.rs
  go-engine-wasm/src/policy_mcts.rs
  go-engine/src/mcts.rs
  plans/ai-integration-frontend/06-random-playout-mcts-engine-poc.md
  seki-web/frontend/src/ai-poc/harness.ts
  seki-web/frontend/src/ai-poc/random-mcts-worker.ts
  seki-web/frontend/src/ai-poc/types.ts
  seki-web/frontend/src/ai-poc/worker.ts
Due: rustfmt, clippy, prettier

fix(random-bots): legal-move filtering, stale-game cleanup, defensive hooks
  seki-random-bots/src/action.rs
  seki-random-bots/src/bot.rs
Due: rustfmt, clippy

fix: random bots improvements
  random-bots.toml
Due: none

fix: hydrate engine before timeout broadcast
  seki-web/src/services/game_actions/end_game.rs
Due: rustfmt, clippy

feat(ai): batch leaf policy mcts evals
  plans/ai-integration-frontend/06-random-playout-mcts-engine-poc.md
  seki-web/frontend/src/ai-poc/harness.ts
  seki-web/frontend/src/ai-poc/random-mcts-worker.ts
  seki-web/frontend/src/ai-poc/types.ts
  seki-web/frontend/src/ai-poc/worker.ts
Due: prettier

feat(ai): align mcts value aggregation with graph search
  go-engine/src/mcts.rs
  plans/ai-integration-frontend/06-random-playout-mcts-engine-poc.md
  seki-web/frontend/src/__tests__/ai-poc-feature-encoder.test.ts
  seki-web/frontend/src/ai-poc/feature-encoder.ts
  seki-web/frontend/src/ai-poc/harness.ts
  seki-web/frontend/src/ai-poc/random-mcts-worker.ts
Due: rustfmt, clippy, prettier

feat(ai): add graph mcts edge catch-up
  go-engine/src/mcts.rs
  plans/ai-integration-frontend/06-random-playout-mcts-engine-poc.md
Due: rustfmt, clippy

docs(ai): update frontend mcts plan status
  plans/ai-integration-frontend.md
  plans/ai-integration-frontend/06-random-playout-mcts-engine-poc.md
Due: none

feat(ai): add mcts search diagnostics
  go-engine-wasm/src/policy_mcts.rs
  go-engine-wasm/src/random_mcts.rs
  go-engine/src/mcts.rs
  seki-web/frontend/src/ai-poc/harness.ts
  seki-web/frontend/src/ai-poc/random-mcts-worker.ts
  seki-web/frontend/src/ai-poc/types.ts
Due: rustfmt, clippy, prettier

feat(ai): add fpu tuning preset
  go-engine-wasm/src/policy_mcts.rs
  go-engine-wasm/src/random_mcts.rs
  go-engine/src/mcts.rs
  plans/ai-integration-frontend/06-random-playout-mcts-engine-poc.md
  seki-web/frontend/src/ai-poc/harness.ts
  seki-web/frontend/src/ai-poc/random-mcts-worker.ts
  seki-web/frontend/src/ai-poc/types.ts
Due: rustfmt, clippy, prettier

feat(ai): add katago 9x9 policy bridge
  go-engine-wasm/src/lib.rs
  go-engine-wasm/src/policy_mcts.rs
  plans/ai-integration-frontend/01-nn-conversion-browser-inference-poc.md
  plans/ai-integration-frontend/03-feature-extraction-and-ai-core.md
  plans/ai-integration-frontend/06-random-playout-mcts-engine-poc.md
  seki-web/frontend/src/__tests__/ai-poc-feature-encoder.test.ts
  seki-web/frontend/src/__tests__/ai-position.test.ts
  seki-web/frontend/src/ai-poc/feature-encoder.ts
  seki-web/frontend/src/ai-poc/harness.ts
  seki-web/frontend/src/ai-poc/random-mcts-worker.ts
  seki-web/frontend/src/ai-poc/types.ts
  seki-web/frontend/src/ai-poc/worker.ts
  seki-web/frontend/src/ai/position.ts
  seki-web/static/models/kata9x9-b18c384nbt-20231025/README.md
  seki-web/static/models/kata9x9-b18c384nbt-20231025/manifest.json
  tools/export-kata9x9-b18c384nbt-20231025.sh
  tools/katago-export-onnx.md
Due: rustfmt, clippy, prettier

feat(ai): show policy suggestions on analysis goban
  plans/ai-integration-frontend/03-feature-extraction-and-ai-core.md
  plans/ai-integration-frontend/06-random-playout-mcts-engine-poc.md
  seki-web/frontend/src/ai-poc/types.ts
  seki-web/frontend/src/ai-poc/worker.ts
  seki-web/frontend/src/ai/analyze.ts
  seki-web/frontend/src/components/controls-shared.tsx
  seki-web/frontend/src/components/ui-controls.tsx
  seki-web/frontend/src/goban/create-board.tsx
  seki-web/frontend/src/goban/render-board.tsx
  seki-web/frontend/src/layouts/analysis-page.tsx
  seki-web/frontend/src/layouts/analysis-state.ts
  seki-web/frontend/src/layouts/analysis.tsx
Due: prettier

refactor(ai): isolate analysis heatmap helpers
  plans/ai-integration-frontend/03-feature-extraction-and-ai-core.md
  plans/ai-integration-frontend/06-random-playout-mcts-engine-poc.md
  seki-web/frontend/src/__tests__/ai-heatmap.test.ts
  seki-web/frontend/src/ai/heatmap.ts
  seki-web/frontend/src/goban/create-board.tsx
  seki-web/frontend/src/layouts/analysis-panels.ts
  seki-web/frontend/src/layouts/analysis.tsx
Due: prettier

feat(ai): show ownership estimates on goban
  plans/ai-integration-frontend/03-feature-extraction-and-ai-core.md
  plans/ai-integration-frontend/06-random-playout-mcts-engine-poc.md
  seki-web/frontend/src/__tests__/ai-heatmap.test.ts
  seki-web/frontend/src/__tests__/capabilities.test.ts
  seki-web/frontend/src/__tests__/live-game-board-section.test.ts
  seki-web/frontend/src/ai-poc/harness.ts
  seki-web/frontend/src/ai-poc/types.ts
  seki-web/frontend/src/ai-poc/worker.ts
  seki-web/frontend/src/ai/heatmap.ts
  seki-web/frontend/src/components/controls-shared.tsx
  seki-web/frontend/src/components/ui-controls.tsx
  seki-web/frontend/src/game/capabilities/analysis.ts
  seki-web/frontend/src/game/capabilities/controls.ts
  seki-web/frontend/src/game/capabilities/types.ts
  seki-web/frontend/src/game/state.ts
  seki-web/frontend/src/goban/create-board.tsx
  seki-web/frontend/src/goban/render-board.tsx
  seki-web/frontend/src/goban/vertex.tsx
  seki-web/frontend/src/layouts/analysis-page.tsx
  seki-web/frontend/src/layouts/analysis-state.ts
  seki-web/frontend/src/layouts/analysis.tsx
  seki-web/frontend/src/layouts/live-game.tsx
  seki-web/frontend/src/layouts/live-game/board-section.tsx
  seki-web/frontend/src/layouts/live-game/phase-transitions.ts
  seki-web/static/css/base.css
Due: prettier

fix(ai): refine estimate mode behavior
  plans/ai-integration-frontend/03-feature-extraction-and-ai-core.md
  seki-web/frontend/src/__tests__/capabilities.test.ts
  seki-web/frontend/src/game/capabilities/controls.ts
  seki-web/frontend/src/layouts/analysis.tsx
  seki-web/frontend/src/layouts/live-game.tsx
  seki-web/frontend/src/layouts/live-game/board-section.tsx
Due: prettier

feat(ai): share estimate and suggestion overlays
  plans/ai-integration-frontend/03-feature-extraction-and-ai-core.md
  plans/ai-integration-frontend/06-random-playout-mcts-engine-poc.md
  seki-web/frontend/src/__tests__/live-game-board-section.test.ts
  seki-web/frontend/src/game/capabilities/analysis.ts
  seki-web/frontend/src/goban/create-board.tsx
  seki-web/frontend/src/goban/vertex.tsx
  seki-web/frontend/src/layouts/analysis-page.tsx
  seki-web/frontend/src/layouts/analysis-state.ts
  seki-web/frontend/src/layouts/analysis.tsx
  seki-web/frontend/src/layouts/live-game/board-section.tsx
Due: prettier

fix(ai): align ownership estimate scoring
  plans/ai-integration-frontend/03-feature-extraction-and-ai-core.md
  seki-web/frontend/src/ai-poc/feature-encoder.ts
  seki-web/frontend/src/ai-poc/worker.ts
  seki-web/frontend/src/ai/position.ts
  seki-web/frontend/src/layouts/analysis.tsx
Due: prettier

fix(ai): stabilize estimate score
  seki-web/frontend/src/ai-poc/harness.ts
  seki-web/frontend/src/ai-poc/types.ts
  seki-web/frontend/src/ai-poc/worker.ts
  seki-web/frontend/src/ai/position.ts
  seki-web/frontend/src/components/move-tree.tsx
  seki-web/frontend/src/goban/create-board.tsx
  seki-web/frontend/src/layouts/analysis.tsx
Due: prettier

feat: add clear variations button to analysis controls
  seki-web/frontend/src/components/controls-shared.tsx
  seki-web/frontend/src/components/ui-controls.tsx
  seki-web/frontend/src/game/capabilities/analysis.ts
  seki-web/frontend/src/game/capabilities/types.ts
  seki-web/frontend/src/goban/render-board.tsx
  seki-web/frontend/src/layouts/analysis-page.tsx
  seki-web/frontend/src/layouts/analysis.tsx
  seki-web/static/css/controls.css
Due: prettier

fix: heatMap renders above paintMap, limit ai labels to top 4
  seki-web/frontend/src/ai/heatmap.ts
  seki-web/frontend/src/goban/vertex.tsx
Due: prettier

fix: prevent overlapping stones in fuzzy placement
  seki-web/frontend/src/goban/goban.tsx
Due: prettier

fix: resolve fuzzy stone conflicts less aggressively with animation
  seki-web/frontend/src/goban/helper.ts
  seki-web/static/css/goban.css
Due: prettier

feat: add rating profile stats, graph gridlines, time range filter, and extended hitzones
  seki-web/frontend/src/__tests__/profile-rating-graph.test.ts
  seki-web/frontend/src/components/icons.tsx
  seki-web/frontend/src/components/profile-rating-graph.tsx
  seki-web/frontend/src/spa/profile-screen.tsx
  seki-web/frontend/src/spa/types.ts
  seki-web/frontend/src/utils/rating.ts
  seki-web/src/services/rating.rs
  seki-web/src/services/rating/profile.rs
  seki-web/static/css/profile.css
  seki-web/static/images/trend_down.svg
  seki-web/static/images/trend_flat.svg
  seki-web/static/images/trend_up.svg
Due: rustfmt, clippy, prettier

fix: correct first-node anchor and tooltip in filtered rating graph
  seki-web/frontend/src/__tests__/profile-rating-graph.test.ts
  seki-web/frontend/src/components/profile-rating-graph.tsx
  seki-web/frontend/src/spa/types.ts
  seki-web/src/services/rating/profile.rs
  seki-web/static/css/profile.css
Due: rustfmt, clippy, prettier

Path conditions:
  rustfmt: any of: *.rs
  clippy: any of: *.rs
  prettier: any of: *.{ts,tsx} and ^seki\-web/frontend/
