Repository sqwxl/seki: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt, clippy, prettier

lefthook.yml:

pre-commit:
  commands:
    rustfmt:
      glob: "*.rs"
      run: cargo fmt -- --check
    clippy:
      glob: "*.rs"
      run: cargo clippy --all-targets -- -D warnings
    prettier:
      root: seki-web/frontend/
      glob: "*.{ts,tsx}"
      run: pnpm exec prettier --write {staged_files}
      stage_fixed: true

feat: use bold for active player
  seki-web/static/css/base.css
Due: none

refactor: hoist/rename seki-android to project root
  .gitignore
  AGENTS.md
  README.md
  seki-android/app/build.gradle.kts
  seki-android/app/proguard-rules.pro
  seki-android/app/src/main/AndroidManifest.xml
  seki-android/app/src/main/java/app/seki/MainActivity.kt
  seki-android/app/src/main/java/app/seki/SekiApp.kt
  seki-android/app/src/main/java/app/seki/SekiWebViewClient.kt
  seki-android/app/src/main/java/app/seki/WebViewSetup.kt
  seki-android/app/src/main/java/app/seki/bridge/SekiBridge.kt
  seki-android/app/src/main/java/app/seki/push/NotificationHelper.kt
  seki-android/app/src/main/java/app/seki/push/SekiFirebaseService.kt
  seki-android/app/src/main/res/layout/activity_main.xml
  seki-android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  seki-android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  seki-android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  seki-android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  seki-android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  seki-android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  seki-android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  seki-android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  seki-android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  seki-android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  seki-android/app/src/main/res/values/strings.xml
  seki-android/app/src/main/res/values/themes.xml
  seki-android/build.gradle.kts
  seki-android/gradle.properties
  seki-android/gradle/wrapper/gradle-wrapper.jar
  seki-android/gradle/wrapper/gradle-wrapper.properties
  seki-android/gradlew
  seki-android/gradlew.bat
  seki-android/settings.gradle.kts
Due: none

refactor: unify WS connection tracking on wsConnected signal
  seki-web/frontend/src/__tests__/capabilities.test.ts
  seki-web/frontend/src/components/connection-status.tsx
  seki-web/frontend/src/game/capabilities/build-panels.ts
  seki-web/frontend/src/game/clock.ts
  seki-web/frontend/src/game/messages.ts
  seki-web/frontend/src/ws.ts
Due: prettier

fix: re-close WebSocket on login/logout to sync session identity
  seki-web/frontend/src/app.tsx
  seki-web/frontend/src/spa/auth-screens.tsx
Due: prettier

feat: tweak styles
  seki-web/static/css/base.css
  seki-web/static/css/controls.css
Due: none

feat: enable move confirmation in live game analysis tab
  AGENTS.md
  seki-web/frontend/src/layouts/live-game.tsx
  seki-web/frontend/src/layouts/live-game/phase-transitions.ts
Due: prettier

fix: reconnect WS on mobile PWA resume via visibility/pageshow events
  seki-web/frontend/src/ws.ts
  seki-web/src/ws/live.rs
Due: rustfmt, clippy, prettier

chore: tweak games list toolbar
  seki-web/static/css/base.css
Due: none

chore: use fullscreen display in app manifest
  seki-web/static/manifest.json
Due: none

chore: update pnpm
  package.json
  pnpm-workspace.yaml
Due: none

feat: tweak navcontrols
  seki-web/frontend/src/components/icons.tsx
  seki-web/frontend/src/components/nav-controls.tsx
  seki-web/static/images/chevron_next.svg
  seki-web/static/images/chevron_prev.svg
Due: prettier

keep board visible when mobile chat tab active
  plans/ai-integration-backend.md
  plans/ai-integration-frontend.md
  plans/territory-audit-plan.md
  plans/todo.md
  seki-web/frontend/src/layouts/game-page-layout.tsx
  seki-web/frontend/src/layouts/live-game.tsx
  seki-web/static/css/base.css
  seki-web/static/css/desktop.css
Due: prettier

feat: drop stone symbols in document title
  seki-web/frontend/src/utils/format.ts
Due: prettier

fix desktop chat visibility, board-main wrapper, analysis status
  seki-web/frontend/src/layouts/analysis-page.tsx
  seki-web/frontend/src/layouts/game-page-layout.tsx
  seki-web/static/css/base.css
  seki-web/static/css/desktop.css
Due: prettier

feat(frontend): add medium game layout
  seki-web/frontend/src/components/move-tree.tsx
  seki-web/frontend/src/goban/create-board.tsx
  seki-web/frontend/src/goban/init-wasm.ts
  seki-web/frontend/src/layouts/game-page-layout.tsx
  seki-web/frontend/src/utils/constants.ts
  seki-web/static/css/base.css
  seki-web/static/css/medium.css
  seki-web/static/css/styles.css
Due: prettier

fix(frontend): refine medium sidebar layout
  seki-web/frontend/src/components/move-tree.tsx
  seki-web/frontend/src/layouts/game-page-layout.tsx
  seki-web/static/css/base.css
  seki-web/static/css/medium.css
Due: prettier

feat: tweak button layout
  seki-web/frontend/src/components/nav-controls.tsx
  seki-web/frontend/src/components/ui-controls.tsx
  seki-web/frontend/src/layouts/controls.tsx
  seki-web/static/css/controls.css
  seki-web/static/css/desktop.css
Due: prettier

feat: update PWA colors
  seki-web/static/manifest.json
  seki-web/templates/base.html
  seki-web/templates/spa_shell.html
Due: none

fix(frontend): tighten state and layout handling
  seki-web/frontend/src/__tests__/pending-actions.test.ts
  seki-web/frontend/src/components/controls-shared.tsx
  seki-web/frontend/src/components/move-tree.tsx
  seki-web/frontend/src/game/messages.ts
  seki-web/frontend/src/game/state.ts
  seki-web/frontend/src/globals.d.ts
  seki-web/frontend/src/layouts/analysis-page.tsx
  seki-web/frontend/src/layouts/games-list.tsx
  seki-web/frontend/src/layouts/live-game-page.tsx
  seki-web/frontend/src/native/bridge.ts
  seki-web/frontend/src/spa/game-screens.tsx
  seki-web/frontend/src/utils/media-query.ts
  seki-web/frontend/src/ws.ts
  seki-web/static/css/base.css
Due: prettier

chore(frontend): normalize imports
  seki-web/frontend/src/index.ts
Due: prettier

fix: preserve analysis variations on live sync
  seki-web/frontend/src/__tests__/pending-actions.test.ts
  seki-web/frontend/src/game/messages.ts
  seki-web/frontend/src/layouts/live-game.tsx
Due: prettier

fix: only play analysis sound for new nodes
  seki-web/frontend/src/goban/create-board.tsx
  seki-web/frontend/src/layouts/analysis-page.tsx
  seki-web/frontend/src/layouts/live-game/phase-transitions.ts
Due: prettier

fix: prevent analysis variants from disappearing on game page load
  seki-web/frontend/src/__tests__/live-game-sidebar.test.ts
  seki-web/frontend/src/goban/create-board.tsx
  seki-web/frontend/src/layouts/live-game.tsx
  seki-web/frontend/src/layouts/live-game/sidebar.tsx
Due: prettier

feat: prettier movetree
  seki-web/frontend/src/__tests__/move-tree-layout.test.ts
  seki-web/frontend/src/__tests__/move-tree-layout.test.ts.skip
  seki-web/frontend/src/components/move-tree.tsx
  seki-web/frontend/src/goban/create-board.tsx
  seki-web/frontend/src/goban/render-board.tsx
Due: prettier

fix: emphasize active move tree path
  seki-web/frontend/src/components/move-tree.tsx
Due: prettier

fix: add bottom padding to mobile analysis screen
  seki-web/frontend/src/spa/game-screens.tsx
  seki-web/static/css/controls.css
Due: prettier

chore: remove test debug logs
  seki-web/frontend/src/game/messages.ts
Due: prettier

fix: misc movetree improvements
  seki-web/frontend/src/components/move-tree.tsx
Due: prettier

feat(profile): show rating history graph
  seki-web/frontend/src/__tests__/profile-rating-graph.test.ts
  seki-web/frontend/src/spa/profile-screen.tsx
  seki-web/static/css/profile.css
  seki-web/static/css/styles.css
Due: prettier

feat: add players directory
  API_SPEC.md
  FRONTEND_SPEC.md
  README.md
  seki-web/frontend/src/__tests__/players-screen.test.ts
  seki-web/frontend/src/app.tsx
  seki-web/frontend/src/components/mobile-menu.tsx
  seki-web/frontend/src/components/rating-trend.tsx
  seki-web/frontend/src/spa/players-screen.tsx
  seki-web/frontend/src/spa/routes.ts
  seki-web/frontend/src/spa/screen.tsx
  seki-web/frontend/src/spa/types.ts
  seki-web/frontend/src/utils/format.ts
  seki-web/src/lib.rs
  seki-web/src/models/rating.rs
  seki-web/src/routes/web_api/mod.rs
  seki-web/src/routes/web_api/players.rs
  seki-web/src/ws/presence.rs
  seki-web/static/css/base.css
  seki-web/static/css/players.css
  seki-web/static/css/styles.css
Due: rustfmt, clippy, prettier

fix: avoid credential prompt on profile username edit
  seki-web/frontend/src/spa/auth-screens.tsx
  seki-web/frontend/src/spa/profile-screen.tsx
Due: prettier

fix: stabilize move tree auto-scroll
  seki-web/frontend/src/components/move-tree.tsx
Due: prettier

docs: split frontend ai integration plan
  plans/ai-integration-frontend.md
  plans/ai-integration-frontend/00-overview.md
  plans/ai-integration-frontend/01-nn-conversion-browser-inference-poc.md
  plans/ai-integration-frontend/02-model-cache-worker-runtime.md
  plans/ai-integration-frontend/03-feature-extraction-and-ai-core.md
  plans/ai-integration-frontend/04-board-and-bot-screen.md
  plans/ai-integration-frontend/05-mobile-performance-and-release.md
Due: none

feat: add browser ai inference poc
  .gitignore
  plans/ai-integration-frontend/01-nn-conversion-browser-inference-poc.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  seki-web/frontend/build.mjs
  seki-web/frontend/package.json
  seki-web/frontend/src/__tests__/ai-poc-feature-encoder.test.ts
  seki-web/frontend/src/ai-poc/feature-encoder.ts
  seki-web/frontend/src/ai-poc/harness.ts
  seki-web/frontend/src/ai-poc/types.ts
  seki-web/frontend/src/ai-poc/worker.ts
  seki-web/static/ai-poc.html
  seki-web/static/models/ai-poc-synthetic/manifest.json
  seki-web/static/models/kaya-b28c512-uint8/README.md
  seki-web/static/models/kaya-b28c512-uint8/manifest.json
Due: prettier

feat: add ai poc backend diagnostics
  seki-web/frontend/src/ai-poc/harness.ts
  seki-web/frontend/src/ai-poc/types.ts
  seki-web/frontend/src/ai-poc/worker.ts
  seki-web/static/ai-poc.html
Due: prettier

feat: interpret ai poc outputs
  seki-web/frontend/src/ai-poc/harness.ts
  seki-web/frontend/src/ai-poc/types.ts
  seki-web/frontend/src/ai-poc/worker.ts
  seki-web/static/models/kaya-b28c512-uint8/README.md
Due: prettier

fix: render live-tip analysis moves as variations
  seki-web/frontend/src/__tests__/move-tree-layout.test.ts
  seki-web/frontend/src/components/move-tree.tsx
  seki-web/frontend/src/goban/create-board.tsx
  seki-web/frontend/src/goban/render-board.tsx
Due: prettier

fix: avoid password prompt for api token
  seki-web/frontend/src/spa/profile-screen.tsx
Due: prettier

feat: tweak api token route and layout
  seki-web/frontend/src/components/icons.tsx
  seki-web/frontend/src/spa/profile-screen.tsx
  seki-web/src/routes/settings.rs
  seki-web/static/css/forms.css
  seki-web/static/css/profile.css
  seki-web/static/images/renew.svg
Due: rustfmt, clippy, prettier

feat: remove pregame auto-accept and add indicator
  seki-web/frontend/src/__tests__/pending-actions.test.ts
  seki-web/frontend/src/components/lobby-popover.tsx
  seki-web/frontend/src/game/channel.ts
  seki-web/frontend/src/layouts/live-game-page.tsx
  seki-web/src/models/game.rs
  seki-web/src/services/clock_sweep.rs
  seki-web/src/services/game_actions/mod.rs
  seki-web/src/services/game_actions/pregame_settings.rs
  seki-web/src/ws/game_channel.rs
  seki-web/static/css/forms.css
Due: rustfmt, clippy, prettier
