Repository sqwxl/seki: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt, clippy, prettier

rustfmt:
  run: cargo fmt -- --check

clippy:
  run: cargo clippy --all-targets -- -D warnings

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

fix(seki-gtp): log when challenge is queued due to capacity, track active games on reconnect
  seki-gtp/src/bot.rs
Due: rustfmt, clippy

chore: add gtp.toml and gtp-pi.toml to .gitignore
  .gitignore
Due: none

feat: rebind resign to 'q', rematch to 'r' (was 'shift+r')
  seki-web/frontend/src/layouts/live-game.tsx
Due: prettier

feat: change mobile menu layout
  seki-web/frontend/src/app.tsx
  seki-web/frontend/src/components/account-menu.tsx
  seki-web/frontend/src/components/icons.tsx
  seki-web/frontend/src/components/mobile-menu.tsx
  seki-web/frontend/src/components/settings-menu.tsx
  seki-web/static/css/base.css
  seki-web/static/css/desktop.css
Due: prettier

fix: remove pressed styling from nav icons
  seki-web/static/css/base.css
Due: none

fix: swap mobile brand stone in dark mode
  seki-web/frontend/src/app.tsx
  seki-web/static/css/base.css
Due: prettier

feat: add links to dropdown
  seki-web/frontend/src/components/mobile-menu.tsx
Due: prettier

fix: allow anonymous->registered username unchanged
  seki-web/frontend/src/spa/auth-screens.tsx
  seki-web/src/routes/auth.rs
  seki-web/tests/ws/api.rs
Due: rustfmt, clippy, prettier

refactor: move ranked toggle into per-variant forms
  seki-web/frontend/src/layouts/form-variants/direct-challenge.tsx
  seki-web/frontend/src/layouts/form-variants/email-invite.tsx
  seki-web/frontend/src/layouts/form-variants/open-game.tsx
  seki-web/frontend/src/layouts/form-variants/shared.tsx
  seki-web/frontend/src/layouts/game-settings-form.tsx
Due: prettier

feat: hoshi icon
  seki-web/frontend/src/components/icons.tsx
  seki-web/frontend/src/layouts/form-variants/shared.tsx
  seki-web/static/images/hoshi.svg
Due: prettier

feat: miniature goban grid view for games list
  seki-web/frontend/src/components/game-description.tsx
  seki-web/frontend/src/components/mini-goban-cell.tsx
  seki-web/frontend/src/layouts/games-list.tsx
  seki-web/frontend/src/utils/storage.ts
  seki-web/src/services/game_actions/challenges.rs
  seki-web/src/services/game_actions/mod.rs
  seki-web/src/services/live.rs
  seki-web/static/css/base.css
Due: rustfmt, clippy, prettier

feat: add seki-random-bots and seki-client crates
  Cargo.lock
  Cargo.toml
  go-engine/src/engine.rs
  justfile
  random-bots.toml
  seki-client/Cargo.toml
  seki-client/src/http.rs
  seki-client/src/lib.rs
  seki-client/src/ws.rs
  seki-gtp/src/bot.rs
  seki-gtp/src/client.rs
  seki-gtp/src/lib.rs
  seki-gtp/src/main.rs
  seki-random-bots/Cargo.toml
  seki-random-bots/src/action.rs
  seki-random-bots/src/bot.rs
  seki-random-bots/src/config.rs
  seki-random-bots/src/main.rs
  seki-web/src/models/user.rs
  seki-web/src/session.rs
  seki-web/src/ws/live.rs
Due: rustfmt, clippy

fix: bot stability — out-of-turn guard, lobby hygiene, ranked time control
  random-bots.toml
  scripts/purge-bot-artifacts.sh
  seki-random-bots/src/action.rs
  seki-random-bots/src/bot.rs
  seki-web/migrations/009_add_cascade_deletes.sql
  seki-web/migrations/010_restore_unique_constraints.sql
Due: rustfmt, clippy

fix(random-bots): fire stage hook when opponent transitions from false to true
  seki-random-bots/src/bot.rs
Due: rustfmt, clippy

fix(random-bots): act in all playable games instead of one random
  random-bots.toml
  seki-random-bots/src/bot.rs
  seki-web/frontend/src/components/player-panel.tsx
  seki-web/frontend/src/game/capabilities/build-panels.ts
  seki-web/frontend/src/game/capabilities/panels.ts
Due: rustfmt, clippy, prettier

fix(random-bots): insert unknown games from StateSync and State messages
  seki-random-bots/src/bot.rs
Due: rustfmt, clippy

fix: sync GamesList state with initial prop via useEffect
  seki-web/frontend/src/layouts/games-list.tsx
Due: prettier

feat: add result overlay to completed game miniboards
  seki-web/frontend/src/components/mini-goban-cell.tsx
  seki-web/static/css/base.css
Due: prettier

feat: last_move markers on lobby miniboards
  go-engine/src/engine.rs
  go-engine/src/territory/dead_stones.rs
  random-bots.toml
  seki-random-bots/write_bot.py
  seki-web/frontend/src/components/mini-goban-cell.tsx
  seki-web/frontend/src/game/types.ts
  seki-web/src/lib.rs
  seki-web/src/services/game_actions/mod.rs
  seki-web/src/services/live.rs
  seki-web/src/utils.rs
  seki-web/static/css/base.css
Due: rustfmt, clippy, prettier

feat: ko markers and territory overlays on lobby miniboards
  seki-web/frontend/src/components/mini-goban-cell.tsx
  seki-web/frontend/src/game/types.ts
  seki-web/src/services/engine_builder.rs
Due: rustfmt, clippy, prettier

fix: always render open games as list, not miniboards
  seki-web/frontend/src/layouts/games-list.tsx
Due: prettier

refactor: split public games into /games/spectate route
  seki-web/frontend/src/layouts/games-list.tsx
  seki-web/frontend/src/spa/game-screens.tsx
  seki-web/frontend/src/spa/routes.ts
  seki-web/frontend/src/spa/screen.tsx
  seki-web/frontend/src/spa/types.ts
  seki-web/src/routes/web_api/mod.rs
Due: rustfmt, clippy, prettier

feat: add Spectate nav link (desktop + mobile)
  seki-web/frontend/src/app.tsx
  seki-web/frontend/src/components/mobile-menu.tsx
Due: prettier

fix: do not bump updated_at on cache-only engine state writes
  seki-web/src/models/game.rs
Due: rustfmt, clippy

fix: prevent miniboard size flash on games list load
  seki-web/frontend/src/components/mini-goban-cell.tsx
Due: prettier

refactor: move stuff around; add TODOs
  seki-web/src/lib.rs
  seki-web/src/main.rs
  seki-web/src/models/game.rs
  seki-web/src/routes/auth.rs
  seki-web/src/routes/flash.rs
  seki-web/src/routes/games.rs
  seki-web/src/routes/mod.rs
  seki-web/src/routes/push.rs
  seki-web/src/routes/settings.rs
  seki-web/src/routes/spa.rs
  seki-web/src/routes/users.rs
  seki-web/src/routes/web_api/mod.rs
  seki-web/src/services/game_actions/rematch.rs
  seki-web/src/services/game_creator.rs
  seki-web/src/services/game_joiner.rs
  seki-web/src/services/jwt.rs
  seki-web/src/services/live.rs
  seki-web/src/services/rating.rs
  seki-web/src/services/rating/eligibility.rs
Due: rustfmt, clippy

chore: update README.md
  .gitignore
  README.md
Due: none

chore: rename seki-api-types to seki-api
  Cargo.lock
  Cargo.toml
  README.md
  seki-api-types/src/game.rs
  seki-api-types/tests/deser_test.rs
  seki-api/Cargo.toml
  seki-api/src/game.rs
  seki-api/src/lib.rs
  seki-api/src/user.rs
  seki-api/src/ws.rs
  seki-api/tests/deser_test.rs
  seki-client/Cargo.toml
  seki-client/src/ws.rs
  seki-gtp/Cargo.toml
  seki-gtp/src/bot.rs
  seki-random-bots/Cargo.toml
  seki-random-bots/src/bot.rs
  seki-web/Cargo.toml
  seki-web/src/services/live.rs
Due: rustfmt, clippy

refactor: consolidate API types from seki-web into seki-api
  seki-api/src/user.rs
  seki-web/src/lib.rs
  seki-web/src/routes/api/mod.rs
  seki-web/src/routes/auth.rs
  seki-web/src/routes/spa.rs
  seki-web/src/routes/users.rs
  seki-web/src/routes/web_api/games.rs
  seki-web/src/routes/web_api/settings.rs
  seki-web/src/routes/web_api/users.rs
  seki-web/src/services/game_actions/chat.rs
  seki-web/src/services/live.rs
  seki-web/src/services/rating.rs
  seki-web/src/services/state_serializer.rs
  seki-web/src/templates/mod.rs
  seki-web/src/views/games_show.rs
  seki-web/src/views/mod.rs
  seki-web/src/views/shell.rs
  seki-web/src/ws/live.rs
  seki-web/tests/ws/rating.rs
Due: rustfmt, clippy

perf: cache argon2 hash and use template DB to speed up tests
  Cargo.lock
  seki-web/Cargo.toml
  seki-web/tests/ws/common.rs
Due: rustfmt, clippy

perf: add LightServer for in-process HTTP testing, convert rematch tests
  Cargo.lock
  seki-web/Cargo.toml
  seki-web/src/lib.rs
  seki-web/tests/ws/common.rs
  seki-web/tests/ws/rematch.rs
Due: rustfmt, clippy

docs: refresh AGENTS.md and README for current codebase state
  AGENTS.md
  README.md
Due: none

perf: convert api, validation, private_game tests to LightServer
  seki-web/tests/ws/api.rs
  seki-web/tests/ws/common.rs
  seki-web/tests/ws/private_game.rs
  seki-web/tests/ws/validation.rs
Due: rustfmt, clippy

remove move tree user preference, always render on desktop and mobile analysis tab
  seki-web/frontend/src/__tests__/capabilities.test.ts
  seki-web/frontend/src/components/settings-menu.tsx
  seki-web/frontend/src/game/capabilities/index.ts
  seki-web/frontend/src/game/capabilities/live-game.ts
  seki-web/frontend/src/game/capabilities/move-tree.ts
  seki-web/frontend/src/game/capabilities/types.ts
  seki-web/frontend/src/game/state.ts
  seki-web/frontend/src/game/types.ts
  seki-web/frontend/src/layouts/live-game-page.tsx
  seki-web/frontend/src/utils/preferences.ts
  seki-web/frontend/src/utils/storage.ts
Due: prettier

fix: persist JWT secret across server restarts
  scripts/setup-runtime-service.sh
  seki-web/migrations/011_server_config.sql
  seki-web/src/lib.rs
  seki-web/src/models/mod.rs
  seki-web/src/models/server_config.rs
Due: rustfmt, clippy

feat: compact mobile analysis controls
  seki-web/frontend/src/components/controls-shared.tsx
  seki-web/frontend/src/components/game-controls.tsx
  seki-web/frontend/src/layouts/controls.tsx
  seki-web/frontend/src/layouts/live-game-page.tsx
  seki-web/static/css/controls.css
Due: prettier

feat: compact mobile controls for standalone analysis
  seki-web/frontend/src/components/tab-bar.tsx
  seki-web/frontend/src/layouts/analysis-page.tsx
  seki-web/frontend/src/layouts/controls.tsx
  seki-web/static/css/controls.css
Due: prettier

style: separate btn-raised from base button styles
  seki-web/frontend/src/components/nav-controls.tsx
  seki-web/static/css/base.css
  seki-web/static/css/desktop.css
Due: prettier

fix: redirect to previous page after login/register
  seki-web/frontend/src/components/account-menu.tsx
  seki-web/frontend/src/components/mobile-menu.tsx
  seki-web/frontend/src/spa/auth-screens.tsx
  seki-web/frontend/src/spa/profile-screen.tsx
  seki-web/frontend/src/spa/routes.ts
  seki-web/frontend/src/spa/screen.tsx
  seki-web/frontend/src/spa/types.ts
  seki-web/frontend/src/utils/spa-navigation.ts
  seki-web/src/routes/auth.rs
Due: rustfmt, clippy, prettier

Path conditions:
  rustfmt: any of: *.rs
  clippy: any of: *.rs
  prettier: any of: *.{ts,tsx} and ^seki\-web/frontend/
