Repository sqwxl/seki: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt, clippy, prettier

lefthook.yml:

pre-commit:
  commands:
    rustfmt:
      glob: "*.rs"
      run: cargo fmt -- --check
    clippy:
      glob: "*.rs"
      run: cargo clippy --all-targets -- -D warnings
    prettier:
      root: seki-web/frontend/
      glob: "*.{ts,tsx}"
      run: cd seki-web/frontend && pnpm exec prettier --check {staged_files}

chore: add clippy to pre-commit hook
  lefthook.yml
Due: none

feat: defer nigiri color assignment to game start
  lefthook.yml
  seki-web/frontend/src/components/controls.tsx
  seki-web/frontend/src/components/player-panel.tsx
  seki-web/frontend/src/components/user-label.tsx
  seki-web/frontend/src/game/state.ts
  seki-web/frontend/src/game/types.ts
  seki-web/frontend/src/layouts/live-game-page.tsx
  seki-web/migrations/008_add_nigiri.sql
  seki-web/src/models/game.rs
  seki-web/src/routes/games.rs
  seki-web/src/services/game_actions.rs
  seki-web/src/services/game_creator.rs
  seki-web/src/services/state_serializer.rs
  seki-web/src/templates/games_show.rs
Due: rustfmt, clippy, prettier

feat: mobile tabbed view with viewport-filling layout
  seki-web/frontend/src/components/controls.tsx
  seki-web/frontend/src/components/game-status.tsx
  seki-web/frontend/src/components/tab-bar.tsx
  seki-web/frontend/src/game/state.ts
  seki-web/frontend/src/goban/create-board.tsx
  seki-web/frontend/src/layouts/analysis.tsx
  seki-web/frontend/src/layouts/game-page-layout.tsx
  seki-web/frontend/src/layouts/live-game-page.tsx
  seki-web/frontend/src/layouts/live-game.tsx
  seki-web/static/css/base.css
  seki-web/static/css/controls.css
  seki-web/static/css/game-info.css
  seki-web/static/css/goban.css
  seki-web/templates/base.html
Due: prettier

fix: show game status in all tabs with consistent spacing
  seki-web/frontend/src/layouts/game-page-layout.tsx
  seki-web/static/css/base.css
Due: prettier

fix: remove undo chat messages and fix desktop grid layout
  seki-web/src/services/game_actions.rs
  seki-web/static/css/base.css
Due: rustfmt, clippy

feat: add chat/board icons to mobile tab bar with unread indicator
  seki-web/frontend/src/components/icons.tsx
  seki-web/frontend/src/components/tab-bar.tsx
  seki-web/frontend/src/game/state.ts
  seki-web/static/css/base.css
  seki-web/static/images/bell_unread.svg
  seki-web/static/images/chat.svg
  seki-web/static/images/chat_unread.svg
Due: prettier

fix: reduce player panel font size on mobile to prevent truncation
  seki-web/static/css/goban.css
Due: none

feat: replace mobile tree tab with analysis tab synced to analysis mode
  seki-web/frontend/src/components/controls.tsx
  seki-web/frontend/src/components/move-tree.tsx
  seki-web/frontend/src/components/tab-bar.tsx
  seki-web/frontend/src/game/state.ts
  seki-web/frontend/src/goban/create-board.tsx
  seki-web/frontend/src/layouts/game-page-layout.tsx
  seki-web/frontend/src/layouts/live-game-page.tsx
  seki-web/frontend/src/layouts/live-game.tsx
  seki-web/static/css/base.css
  seki-web/static/css/controls.css
  seki-web/static/images/burger.svg
Due: prettier

fix: align move tree and tab bar width with board elements
  seki-web/static/css/base.css
  seki-web/static/css/controls.css
  seki-web/static/css/goban.css
Due: none

feat: add hamburger menu to mobile tab bar for UI controls
  seki-web/frontend/src/components/controls.tsx
  seki-web/frontend/src/components/icons.tsx
  seki-web/frontend/src/components/tab-bar.tsx
  seki-web/frontend/src/game/state.ts
  seki-web/frontend/src/layouts/analysis-page.tsx
  seki-web/frontend/src/layouts/analysis.tsx
  seki-web/frontend/src/layouts/game-page-layout.tsx
  seki-web/frontend/src/layouts/live-game-page.tsx
  seki-web/frontend/src/layouts/live-game.tsx
  seki-web/frontend/src/utils/shared-controls.ts
  seki-web/static/css/base.css
  seki-web/static/css/controls.css
Due: prettier

feat: persist analysis branches in localStorage per game
  seki-web/frontend/src/layouts/live-game.tsx
  seki-web/frontend/src/utils/storage.ts
Due: prettier

feat: layout tweaks
  seki-web/frontend/src/layouts/game-page-layout.tsx
  seki-web/frontend/src/layouts/live-game-page.tsx
  seki-web/static/css/controls.css
  seki-web/static/css/goban.css
Due: prettier

refactor: simplify and consolidate CSS layout
  seki-web/frontend/src/goban/create-board.tsx
  seki-web/frontend/src/utils/premove.ts
  seki-web/static/css/base.css
  seki-web/static/css/chat.css
  seki-web/static/css/controls.css
  seki-web/static/css/desktop.css
  seki-web/static/css/forms.css
  seki-web/static/css/goban.css
  seki-web/static/css/styles.css
Due: prettier

chore: add CSS to prettier formatting hook
  lefthook.yml
  seki-web/static/css/goban.css
Due: none

fix: prevent controls clipping on short desktop viewports
  seki-web/static/css/desktop.css
Due: none

fix: make desktop grid layout respect viewport height
  seki-web/frontend/src/goban/create-board.tsx
  seki-web/frontend/src/layouts/controls.tsx
  seki-web/frontend/src/layouts/game-page-layout.tsx
  seki-web/frontend/src/utils/constants.ts
  seki-web/static/css/controls.css
  seki-web/static/css/desktop.css
  seki-web/static/css/goban.css
Due: prettier

feat: support negative komi
  seki-web/frontend/src/layouts/game-settings-form.tsx
  seki-web/frontend/src/utils/format.ts
  seki-web/src/services/game_creator.rs
Due: rustfmt, clippy, prettier

chore: CSS refinements, desktop breakpoint bump, justfile cleanup
  justfile
  seki-web/frontend/src/utils/constants.ts
  seki-web/static/css/base.css
  seki-web/static/css/chat.css
  seki-web/static/css/controls.css
  seki-web/static/css/desktop.css
  seki-web/static/css/forms.css
Due: prettier

fix: anchor komi input step base to half-integer
  seki-web/frontend/src/layouts/game-settings-form.tsx
Due: prettier

refactor: deduplicate helpers, split game_actions, fix anti-patterns
  go-engine/src/engine.rs
  go-engine/src/goban.rs
  go-engine/src/lib.rs
  go-engine/src/territory.rs
  lefthook.yml
  seki-web/frontend/src/ws.ts
  seki-web/src/error.rs
  seki-web/src/models/game.rs
  seki-web/src/routes/analysis.rs
  seki-web/src/routes/api.rs
  seki-web/src/routes/auth.rs
  seki-web/src/routes/games.rs
  seki-web/src/routes/mod.rs
  seki-web/src/routes/users.rs
  seki-web/src/services/game_actions.rs
  seki-web/src/services/game_actions/mod.rs
  seki-web/src/services/game_actions/territory.rs
  seki-web/src/services/game_actions/undo.rs
  seki-web/src/services/presentation_actions.rs
Due: rustfmt, clippy, prettier

perf: optimize frontend rendering with incremental updates and caching
  seki-web/frontend/src/components/move-tree.tsx
  seki-web/frontend/src/game/messages.ts
  seki-web/frontend/src/goban/create-board.tsx
  seki-web/frontend/src/goban/goban.tsx
  seki-web/frontend/src/layouts/live-game.tsx
Due: prettier

feat: add OpenAPI spec + Scalar docs to /api
  Cargo.lock
  seki-web/Cargo.toml
  seki-web/src/models/game.rs
  seki-web/src/routes/api.rs
  seki-web/src/services/live.rs
  seki-web/src/templates/mod.rs
Due: rustfmt, clippy

feat(go-engine): add Engine::pop_move() for in-place undo
  go-engine/src/engine.rs
  go-engine/src/error.rs
Due: rustfmt, clippy

perf: use Arc<String> for WS broadcasts, cache online users in registry
  seki-web/src/ws/game_channel.rs
  seki-web/src/ws/live.rs
  seki-web/src/ws/registry.rs
Due: rustfmt, clippy

refactor: reduce DB round-trips in game actions and services
  seki-web/src/models/turn.rs
  seki-web/src/routes/games.rs
  seki-web/src/services/clock_sweep.rs
  seki-web/src/services/engine_builder.rs
  seki-web/src/services/game_actions/mod.rs
  seki-web/src/services/game_actions/territory.rs
  seki-web/src/services/game_actions/undo.rs
Due: rustfmt, clippy

docs: update README feature checklist
  README.md
Due: none

fix: increase form legend font-size
  seki-web/static/css/forms.css
Due: none

wip: frontend refactors, api improvements, docs
  .gitignore
  ISSUES.md
  README.md
  seki-web/frontend/src/game/messages.ts
  seki-web/frontend/src/game/state.ts
  seki-web/frontend/src/layouts/analysis-page.tsx
  seki-web/frontend/src/layouts/analysis.tsx
  seki-web/frontend/src/layouts/live-game-page.tsx
  seki-web/frontend/src/layouts/live-game.tsx
  seki-web/frontend/src/utils/move-confirm.ts
  seki-web/frontend/src/utils/shared-controls.ts
  seki-web/src/routes/api.rs
Due: rustfmt, clippy, prettier

feat: add vitest to frontend
  seki-web/frontend/package.json
  seki-web/frontend/pnpm-lock.yaml
  seki-web/frontend/src/__mocks__/wasm-stub.ts
  seki-web/frontend/src/__tests__/setup.test.ts
  seki-web/frontend/vitest.config.ts
Due: prettier

feat: add GamePhase state machine with dual-write
  seki-web/frontend/src/game/phase.ts
  seki-web/frontend/src/game/state.ts
Due: prettier

test: GamePhase transition tests
  seki-web/frontend/src/__tests__/phase.test.ts
  seki-web/frontend/vitest.config.ts
  seki-web/frontend/vitest.setup.ts
Due: prettier

feat: add UiCapabilities computed signal for live game
  seki-web/frontend/src/game/capabilities.ts
Due: prettier

feat: add analysis capabilities computed signal
  seki-web/frontend/src/game/capabilities.ts
Due: prettier

test: comprehensive UiCapabilities derivation tests
  seki-web/frontend/src/__tests__/capabilities.test.ts
  seki-web/frontend/vitest.setup.ts
Due: prettier

refactor: migrate live game page to consume UiCapabilities
  seki-web/frontend/src/__tests__/capabilities.test.ts
  seki-web/frontend/src/game/capabilities.ts
  seki-web/frontend/src/layouts/live-game-page.tsx
  seki-web/frontend/src/layouts/live-game.tsx
Due: prettier

refactor: migrate analysis page controls to use analysisCapabilities
  seki-web/frontend/src/layouts/analysis-page.tsx
Due: prettier

refactor: replace analysisMode/estimateMode signals with computed derived from gamePhase
  seki-web/frontend/src/__tests__/phase.test.ts
  seki-web/frontend/src/game/phase.ts
  seki-web/frontend/src/game/state.ts
  seki-web/frontend/src/layouts/live-game.tsx
Due: prettier

chore: remove trivial setup test
  seki-web/frontend/src/__tests__/setup.test.ts
Due: prettier

doc: update ISSUES.md
  ISSUES.md
Due: none
