Repository sqwxl/seki: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt, clippy, prettier

lefthook.yml:

pre-commit:
  commands:
    rustfmt:
      glob: "*.rs"
      run: cargo fmt -- --check
    clippy:
      glob: "*.rs"
      run: cargo clippy --all-targets -- -D warnings
    prettier:
      root: seki-web/frontend/
      glob: "*.{ts,tsx}"
      run: pnpm exec prettier --write {staged_files}
      stage_fixed: true

style: center page headers (h1, h2)
  seki-web/static/css/base.css
Due: none

style: clean up profile page header, remove inline styles
  seki-web/templates/users/profile.html
Due: none

feat: add email invitations with lettre/Mailpit and invite-only games
  Cargo.lock
  docker-compose.yaml
  justfile
  seki-web/Cargo.toml
  seki-web/frontend/src/__tests__/capabilities.test.ts
  seki-web/frontend/src/game/capabilities.ts
  seki-web/frontend/src/game/state.ts
  seki-web/frontend/src/game/types.ts
  seki-web/frontend/src/layouts/games-list.tsx
  seki-web/migrations/011_add_invite_only.sql
  seki-web/src/lib.rs
  seki-web/src/models/game.rs
  seki-web/src/routes/api.rs
  seki-web/src/routes/games.rs
  seki-web/src/services/game_creator.rs
  seki-web/src/services/live.rs
  seki-web/src/services/mailer.rs
  seki-web/src/services/mod.rs
  seki-web/tests/ws/common.rs
Due: rustfmt, clippy, prettier

feat: live notifications, state_sync, email settings, notification prefs
  seki-web/frontend/src/components/notification-bell.tsx
  seki-web/frontend/src/components/notification-settings.tsx
  seki-web/frontend/src/game/messages.ts
  seki-web/frontend/src/game/types.ts
  seki-web/frontend/src/index.ts
  seki-web/frontend/src/layouts/live-game.tsx
  seki-web/frontend/src/utils/os-notifications.ts
  seki-web/src/lib.rs
  seki-web/src/models/user.rs
  seki-web/src/routes/settings.rs
  seki-web/src/routes/users.rs
  seki-web/src/services/game_actions/mod.rs
  seki-web/src/services/live.rs
  seki-web/src/templates/mod.rs
  seki-web/src/templates/user_profile.rs
  seki-web/src/ws/game_channel.rs
  seki-web/static/css/forms.css
  seki-web/templates/users/profile.html
  seki-web/tests/ws/common.rs
  seki-web/tests/ws/lobby.rs
  seki-web/tests/ws/smoke.rs
Due: rustfmt, clippy, prettier

fix: center goban when height-constrained and narrower than column
  seki-web/static/css/base.css
Due: none

fix: repurpose nav counter as move confirm button to avoid layout shift
  seki-web/frontend/src/components/controls.tsx
  seki-web/frontend/src/layouts/controls.tsx
  seki-web/static/css/controls.css
Due: prettier

fix: skip move confirmation for illegal points, dismiss on click outside goban
  ISSUES.md
  seki-web/frontend/src/layouts/analysis.tsx
  seki-web/frontend/src/layouts/live-game.tsx
Due: prettier

refactor: extract shared move confirmation helpers
  seki-web/frontend/src/layouts/analysis.tsx
  seki-web/frontend/src/layouts/live-game.tsx
  seki-web/frontend/src/utils/move-confirm.ts
Due: prettier

docs: mark resolved issues (confirm layout shift, board centering)
  ISSUES.md
Due: none

fix: don't dismiss move confirmation when clicking the confirm button
  seki-web/frontend/src/utils/move-confirm.ts
Due: prettier

fix: derive move tree visibility from analysis state instead of mutating signal
  seki-web/frontend/src/game/capabilities.ts
  seki-web/frontend/src/layouts/live-game.tsx
Due: prettier

fix: resume analysis at saved node only if off main line
  go-engine-wasm/src/lib.rs
  go-engine/src/replay.rs
  seki-web/frontend/src/layouts/live-game.tsx
Due: rustfmt, clippy, prettier

fix: clock/reconnection bugs and add audit findings to ISSUES.md
  ISSUES.md
  seki-web/frontend/src/game/messages.ts
  seki-web/frontend/src/game/types.ts
  seki-web/src/services/game_actions/mod.rs
  seki-web/src/services/game_actions/undo.rs
Due: rustfmt, clippy, prettier

feat: improve clock display (hour format, SD label, scaled low-time)
  ISSUES.md
  PLANS.md
  seki-web/frontend/src/game/clock.ts
Due: prettier

feat: add lag compensation (Lichess quota system)
  ISSUES.md
  PLANS.md
  seki-web/frontend/src/game/channel.ts
  seki-web/frontend/src/game/clock.ts
  seki-web/frontend/src/game/types.ts
  seki-web/frontend/src/layouts/live-game.tsx
  seki-web/src/routes/api.rs
  seki-web/src/services/clock.rs
  seki-web/src/services/clock_sweep.rs
  seki-web/src/services/game_actions/mod.rs
  seki-web/src/ws/game_channel.rs
  seki-web/src/ws/registry.rs
Due: rustfmt, clippy, prettier

docs: update ISSUES.md for disconnect/claim victory changes
  ISSUES.md
Due: none

feat: implement disconnect/claim victory and refactor capabilities
  seki-web/frontend/src/__tests__/capabilities.test.ts
  seki-web/frontend/src/components/controls.tsx
  seki-web/frontend/src/game/capabilities.ts
  seki-web/frontend/src/game/channel.ts
  seki-web/frontend/src/game/messages.ts
  seki-web/frontend/src/game/state.ts
  seki-web/frontend/src/game/types.ts
  seki-web/frontend/src/layouts/live-game-page.tsx
  seki-web/frontend/src/layouts/live-game.tsx
  seki-web/frontend/src/ws.ts
  seki-web/src/lib.rs
  seki-web/src/services/clock.rs
  seki-web/src/services/game_actions/disconnect.rs
  seki-web/src/services/game_actions/mod.rs
  seki-web/src/ws/game_channel.rs
  seki-web/src/ws/live.rs
  seki-web/src/ws/registry.rs
  seki-web/tests/ws/common.rs
  seki-web/tests/ws/disconnect.rs
Due: rustfmt, clippy, prettier

feat: add can_start_presentation flag to initial state
  seki-web/src/routes/games.rs
  seki-web/src/services/presentation_actions.rs
  seki-web/src/templates/games_show.rs
  seki-web/src/ws/game_channel.rs
Due: rustfmt, clippy

feat: gate presentation entry on server-provided eligibility flag
  seki-web/frontend/src/__tests__/capabilities.test.ts
  seki-web/frontend/src/game/capabilities.ts
  seki-web/frontend/src/game/state.ts
  seki-web/frontend/src/game/types.ts
Due: prettier

fix: include display name in late-join control request
  seki-web/frontend/src/game/state.ts
  seki-web/frontend/src/game/types.ts
  seki-web/src/services/presentation_actions.rs
  seki-web/src/ws/game_channel.rs
  seki-web/src/ws/registry.rs
  seki-web/tests/ws/presentation.rs
Due: rustfmt, clippy, prettier

fix: navigate viewer board to end position on presentation end
  seki-web/frontend/src/layouts/live-game.tsx
Due: prettier

fix: update canStartPresentation on presentation lifecycle events
  seki-web/frontend/src/game/state.ts
Due: prettier

docs: update ISSUES.md for presentation mode fixes
  ISSUES.md
Due: none

doc: update ISSUES.md
  ISSUES.md
Due: none

fix: clear undo_rejected in broadcast after move
  seki-web/src/services/game_actions/mod.rs
  seki-web/tests/ws/undo.rs
Due: rustfmt, clippy

feat: allow undo of pass moves
  seki-web/src/services/game_actions/undo.rs
  seki-web/tests/ws/undo.rs
Due: rustfmt, clippy

fix: clean up territory review state on pass undo
  seki-web/src/services/game_actions/undo.rs
  seki-web/tests/ws/undo.rs
Due: rustfmt, clippy

feat: add clock snapshot columns to turns table
  seki-web/migrations/012_turn_clock_snapshot.sql
  seki-web/src/models/turn.rs
  seki-web/src/services/game_actions/mod.rs
Due: rustfmt, clippy

feat: capture clock snapshot on each turn
  seki-web/src/services/game_actions/mod.rs
Due: rustfmt, clippy

feat: restore clock snapshot on undo accept
  seki-web/src/services/game_actions/mod.rs
  seki-web/src/services/game_actions/undo.rs
  seki-web/tests/ws/undo.rs
Due: rustfmt, clippy

test: multi-level undo clock restoration
  seki-web/tests/ws/undo.rs
Due: rustfmt, clippy

docs: mark undo clock restoration as done in ISSUES.md
  ISSUES.md
Due: none

docs: remove completed issues from ISSUES.md
  ISSUES.md
Due: none

fix: ignore empty vertex clicks during territory review
  ISSUES.md
  seki-web/frontend/src/layouts/live-game.tsx
  seki-web/src/services/game_actions/territory.rs
  seki-web/src/ws/registry.rs
Due: rustfmt, clippy, prettier

feat: gate private games behind invite token, remove /invitation endpoint
  seki-web/frontend/src/game/types.ts
  seki-web/src/error.rs
  seki-web/src/lib.rs
  seki-web/src/routes/games.rs
  seki-web/src/services/mailer.rs
  seki-web/src/templates/games_show.rs
Due: rustfmt, clippy, prettier

feat: replace ChallengePopover with unified LobbyPopover
  seki-web/frontend/src/__tests__/capabilities.test.ts
  seki-web/frontend/src/components/controls.tsx
  seki-web/frontend/src/game/capabilities.ts
  seki-web/frontend/src/layouts/live-game-page.tsx
Due: prettier

test: private game access control and invite-only join
  seki-web/tests/ws/main.rs
  seki-web/tests/ws/private_game.rs
Due: rustfmt, clippy

test: lobby popover capability variants
  seki-web/frontend/src/__tests__/capabilities.test.ts
  seki-web/frontend/src/game/capabilities.ts
Due: prettier

fix: consolidate undo state, prevent mobile form implicit submit
  ISSUES.md
  seki-web/frontend/src/__tests__/capabilities.test.ts
  seki-web/frontend/src/game/capabilities.ts
  seki-web/frontend/src/game/messages.ts
  seki-web/frontend/src/game/state.ts
  seki-web/frontend/src/layouts/game-settings-form.tsx
  seki-web/frontend/src/layouts/live-game-page.tsx
Due: prettier

refactor: remove Move::ScoreAgreed, make territory settlement frontend-only
  ISSUES.md
  go-engine-wasm/src/lib.rs
  go-engine/src/engine.rs
  go-engine/src/goban.rs
  go-engine/src/replay.rs
  go-engine/src/sgf/convert.rs
  go-engine/src/turn.rs
  seki-web/frontend/src/components/move-tree.tsx
  seki-web/frontend/src/game/messages.ts
  seki-web/frontend/src/game/types.ts
  seki-web/frontend/src/goban/create-board.tsx
  seki-web/frontend/src/layouts/live-game.tsx
  seki-web/src/services/engine_builder.rs
Due: rustfmt, clippy, prettier
