Repository sqwxl/seki: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt, clippy, prettier

rustfmt:
  run: cargo fmt -- --check

clippy:
  run: cargo clippy --all-targets -- -D warnings

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

refactor(seki-web): port territory/pregame wire types into seki-api
  seki-web/src/services/state_assembly.rs
  seki-web/src/services/state_serializer.rs
Due: rustfmt, clippy

refactor(seki-api): make ClientMsg a tagged action enum
  plans/seki-api-migration.md
  seki-api/src/ws.rs
  seki-api/tests/deser_test.rs
  seki-web/src/ws/game_channel.rs
  seki-web/src/ws/live.rs
Due: rustfmt, clippy

refactor(seki-web): emit all WS messages through ServerMsg
  scripts/deploy-prebuilt.sh
  seki-api/src/ws.rs
  seki-api/tests/deser_test.rs
  seki-gtp/src/bot.rs
  seki-random-bots/src/bot.rs
  seki-web/frontend/src/game/types.ts
  seki-web/src/services/clock.rs
  seki-web/src/services/game_actions/chat.rs
  seki-web/src/services/game_actions/mod.rs
  seki-web/src/services/game_actions/undo.rs
  seki-web/src/services/live.rs
  seki-web/src/services/presentation_actions.rs
  seki-web/src/services/state_serializer.rs
  seki-web/src/ws/game_channel.rs
  seki-web/src/ws/live.rs
  seki-web/src/ws/mod.rs
  seki-web/src/ws/presence_subscriptions.rs
Due: rustfmt, clippy, prettier

feat: double-tap move tree empty space jumps to mainline tip
  seki-web/frontend/src/components/move-tree.tsx
Due: prettier

refactor(frontend): extract move-tree positioning into routing module
  seki-web/frontend/src/__tests__/move-tree-layout.test.ts
  seki-web/frontend/src/__tests__/move-tree-layout.test.ts.skip
  seki-web/frontend/src/components/move-tree.tsx
  seki-web/frontend/src/game/move-tree-layout.ts
Due: prettier

fix(frontend): route move-tree nets per node with monotone doglegs
  seki-web/frontend/src/__tests__/move-tree-layout.test.ts
  seki-web/frontend/src/game/move-tree-layout.ts
Due: prettier

fix(frontend): route move-tree sub-nets tip-to-root
  seki-web/frontend/src/__tests__/move-tree-layout.test.ts
  seki-web/frontend/src/game/move-tree-layout.ts
Due: prettier

fix(frontend): route move-tree nets by longest chain first
  seki-web/frontend/src/__tests__/move-tree-layout.test.ts
  seki-web/frontend/src/game/move-tree-layout.ts
Due: prettier

fix(frontend): wait for active service worker before push subscribe
  seki-web/frontend/src/push.ts
Due: prettier

feat(frontend): prompt for OS notifications at value moments
  seki-web/frontend/src/layouts/game-settings-form.tsx
  seki-web/frontend/src/layouts/live-game-page.tsx
  seki-web/frontend/src/utils/os-notifications.ts
  seki-web/frontend/src/utils/storage.ts
Due: prettier

refactor(frontend): centralize viewport breakpoint queries
  seki-web/frontend/src/components/move-tree.tsx
  seki-web/frontend/src/components/profile-rating-graph.tsx
  seki-web/frontend/src/goban/init-wasm.ts
  seki-web/frontend/src/layouts/analysis-page.tsx
  seki-web/frontend/src/layouts/bot.tsx
  seki-web/frontend/src/layouts/live-game-page.tsx
  seki-web/frontend/src/utils/constants.ts
  seki-web/frontend/src/utils/media-query.ts
  seki-web/frontend/src/utils/move-confirm.ts
Due: prettier

feat(frontend): use mobile nav drawer layout at all widths
  seki-web/static/css/base.css
  seki-web/static/css/desktop.css
  seki-web/static/css/medium.css
Due: none

feat(frontend): move SGF import/export to nav drawer, import from anywhere
  seki-web/frontend/src/__tests__/sgf-import.test.ts
  seki-web/frontend/src/components/controls-shared.tsx
  seki-web/frontend/src/components/mobile-menu.tsx
  seki-web/frontend/src/components/ui-controls.tsx
  seki-web/frontend/src/layouts/analysis-page.tsx
  seki-web/frontend/src/layouts/analysis-state.ts
  seki-web/frontend/src/layouts/analysis.tsx
  seki-web/frontend/src/layouts/live-game-page.tsx
  seki-web/frontend/src/layouts/live-game.tsx
  seki-web/frontend/src/layouts/live-game/phase-transitions.ts
  seki-web/frontend/src/utils/sgf-import.ts
Due: prettier

feat: move clear variations into move tree with confirm dialog
  go-engine-wasm/src/lib.rs
  go-engine/src/replay.rs
  seki-web/frontend/src/components/controls-shared.tsx
  seki-web/frontend/src/components/game-info.tsx
  seki-web/frontend/src/components/move-tree.tsx
  seki-web/frontend/src/components/ui-controls.tsx
  seki-web/frontend/src/game/capabilities/analysis.ts
  seki-web/frontend/src/game/capabilities/types.ts
  seki-web/frontend/src/goban/create-board.tsx
  seki-web/frontend/src/goban/render-board.tsx
  seki-web/frontend/src/layouts/analysis-page.tsx
  seki-web/frontend/src/layouts/analysis.tsx
  seki-web/frontend/src/layouts/live-game.tsx
  seki-web/frontend/src/layouts/live-game/phase-transitions.ts
  seki-web/static/css/controls.css
Due: rustfmt, clippy, prettier

fix(frontend): keep OS notification toggle synced with browser permission
  seki-web/frontend/src/__tests__/os-notifications.test.ts
  seki-web/frontend/src/utils/os-notifications.ts
Due: prettier

fix(css): drop unused bot.css import
  seki-web/static/css/styles.css
Due: none

fix(web): self-heal stale PWA containers with reload shim
  seki-web/src/lib.rs
  seki-web/src/routes/spa.rs
Due: rustfmt, clippy

feat(web): show static fallback instead of blank screen on boot failure
  seki-web/frontend/src/app.tsx
  seki-web/frontend/src/globals.d.ts
  seki-web/templates/spa_shell.html
Due: prettier

feat(web): boot spinner, clear shell UI on mount
  AGENTS.md
  seki-web/frontend/src/app.tsx
  seki-web/frontend/src/globals.d.ts
  seki-web/static/css/base.css
  seki-web/templates/spa_shell.html
Due: prettier

feat(web): 404 page, shared base template, theme-aware boot spinner
  seki-web/frontend/src/components/icons.tsx
  seki-web/src/lib.rs
  seki-web/src/routes/spa.rs
  seki-web/src/views/shell.rs
  seki-web/static/css/base.css
  seki-web/static/images/spinner.svg
  seki-web/templates/404.html
  seki-web/templates/base.html
  seki-web/templates/spa_shell.html
Due: rustfmt, clippy, prettier

feat(frontend): move analysis board settings into a sidebar panel with mobile tabs
  seki-web/frontend/src/components/controls-shared.tsx
  seki-web/frontend/src/components/tab-bar.tsx
  seki-web/frontend/src/components/ui-controls.tsx
  seki-web/frontend/src/layouts/analysis-page.tsx
  seki-web/frontend/src/layouts/analysis-state.ts
  seki-web/frontend/src/layouts/analysis.tsx
  seki-web/frontend/src/layouts/game-page-layout.tsx
  seki-web/frontend/src/layouts/live-game-page.tsx
  seki-web/static/css/base.css
  seki-web/static/css/controls.css
  seki-web/static/css/desktop.css
  seki-web/static/css/forms.css
  seki-web/static/css/medium.css
Due: prettier

style(frontend): consistent tab-bar spacing and centered icon+label buttons
  seki-web/frontend/src/spa/game-screens.tsx
  seki-web/static/css/base.css
  seki-web/static/css/chat.css
  seki-web/static/css/controls.css
Due: prettier

feat(frontend): add QuickConfirmButton, extract confirm dialog module
  seki-web/frontend/src/components/confirm-button.tsx
  seki-web/frontend/src/components/controls-shared.tsx
  seki-web/frontend/src/components/game-controls.tsx
  seki-web/frontend/src/components/lobby-controls.tsx
  seki-web/frontend/src/components/move-tree.tsx
  seki-web/frontend/src/components/quick-confirm-button.tsx
  seki-web/frontend/src/layouts/analysis-page.tsx
Due: prettier

refactor(frontend): keep original confirm buttons, QuickConfirmButton only for analysis reset
  seki-web/frontend/src/components/game-controls.tsx
  seki-web/frontend/src/components/lobby-controls.tsx
  seki-web/frontend/src/components/move-tree.tsx
Due: prettier

fix(css): left-align nav dropdown menu items
  seki-web/static/css/base.css
Due: none

refactor(frontend): rename MobileMenu to NavDrawer
  seki-web/frontend/src/app.tsx
  seki-web/frontend/src/components/nav-drawer.tsx
  seki-web/frontend/src/game/state.ts
  seki-web/static/css/base.css
Due: prettier

style(css): fixed-width nav drawer at all breakpoints
  seki-web/static/css/desktop.css
  seki-web/static/css/medium.css
Due: none

style(css): narrow nav drawer to 12em
  seki-web/static/css/base.css
Due: none

fix(frontend): render QuickConfirmButton armed state correctly with transition
  seki-web/frontend/src/components/quick-confirm-button.tsx
  seki-web/static/css/base.css
  seki-web/static/css/forms.css
Due: prettier

fix(frontend): reconnect WebSocket when native PWA resumes
  seki-web/frontend/src/ws.ts
Due: prettier

style: spread game controls to board width on desktop
  seki-web/static/css/desktop.css
Due: none

feat: add zen icon
  seki-web/frontend/src/components/icons.tsx
  seki-web/static/images/zen.svg
Due: prettier

feat: add zen mode toggle to dim the game page
  seki-web/frontend/src/components/ui-controls.tsx
  seki-web/static/css/controls.css
Due: prettier

refactor: extract ToggleButton component for btn-on controls
  seki-web/frontend/src/components/controls-shared.tsx
  seki-web/frontend/src/components/notification-bell.tsx
  seki-web/frontend/src/components/settings-menu.tsx
  seki-web/frontend/src/components/toggle-button.tsx
  seki-web/frontend/src/components/ui-controls.tsx
Due: prettier

feat: add refresh icon for analysis board reset
  seki-web/frontend/src/components/icons.tsx
  seki-web/frontend/src/layouts/analysis-page.tsx
  seki-web/static/images/refresh.svg
Due: prettier

feat(bot): navigate bot game history on the main line
  seki-web/frontend/src/layouts/bot.tsx
Due: prettier

fix(bot): suggestion toggle uses cache and coexists with estimate
  seki-web/frontend/src/layouts/bot.tsx
Due: prettier

fix(bot): drop clearVariations that broke the main line after reload
  seki-web/frontend/src/layouts/bot.tsx
Due: prettier

feat(bot): score territory from AI ownership and land reloads on the final node
  seki-web/frontend/src/__tests__/bot-score.test.ts
  seki-web/frontend/src/layouts/bot-score.ts
  seki-web/frontend/src/layouts/bot.tsx
Due: prettier

fix: reject email invites to your own account
  seki-web/src/services/game_creator.rs
Due: rustfmt, clippy

Path conditions:
  rustfmt: any of: *.rs
  clippy: any of: *.rs
  prettier: any of: *.{ts,tsx} and ^seki\-web/frontend/
