Repository sqwxl/seki: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt, clippy, prettier

rustfmt:
  run: cargo fmt -- --check

clippy:
  run: cargo clippy --all-targets -- -D warnings

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

fix: harden public web exposure
  API_SPEC.md
  Cargo.lock
  README.md
  scripts/setup-runtime-service.sh
  seki-web/Cargo.toml
  seki-web/frontend/src/ws.ts
  seki-web/src/lib.rs
  seki-web/src/main.rs
  seki-web/src/models/game.rs
  seki-web/src/routes/api.rs
  seki-web/src/routes/web_api.rs
  seki-web/src/services/game_access.rs
  seki-web/src/services/game_actions/mod.rs
  seki-web/src/services/mod.rs
  seki-web/src/ws/game_channel.rs
  seki-web/src/ws/live.rs
  seki-web/tests/ws/common.rs
  seki-web/tests/ws/security.rs
Due: rustfmt, clippy, prettier

fix: allow wasm in content security policy
  seki-web/src/lib.rs
Due: rustfmt, clippy

fix: use sqlite for local dev server
  .gitignore
  justfile
Due: none

feat: default handicap komi to half point
  seki-web/frontend/src/layouts/game-settings-form.tsx
Due: prettier

fix: let short pages fill viewport
  seki-web/static/css/base.css
Due: none

docs: add player rating system spec
  .specify/feature.json
  specs/001-player-rating-system/checklists/requirements.md
  specs/001-player-rating-system/spec.md
Due: none

chore: clean up deploy tooling
  .gitignore
  README.md
  justfile
  scripts/package-release.sh
  seki-web/src/bin/gen-openapi.rs
Due: rustfmt, clippy

docs: update player rating plan
  AGENTS.md
  specs/001-player-rating-system/contracts/rating-api-contract.md
  specs/001-player-rating-system/contracts/rating-web-contract.md
  specs/001-player-rating-system/data-model.md
  specs/001-player-rating-system/plan.md
  specs/001-player-rating-system/quickstart.md
  specs/001-player-rating-system/research.md
  specs/001-player-rating-system/spec.md
Due: none

docs: add player rating tasks
  specs/001-player-rating-system/tasks.md
Due: none

docs: amend constitution for manageable file size
  .specify/memory/constitution.md
  .specify/templates/plan-template.md
  .specify/templates/tasks-template.md
  AGENTS.md
Due: none

docs: update rating system plan tasks
  specs/001-player-rating-system/plan.md
  specs/001-player-rating-system/tasks.md
Due: none

feat(rating): add ranked games and Glicko-2 player ratings (US1 MVP)
  seki-web/Cargo.toml
  seki-web/frontend/src/__tests__/rating-format.test.ts
  seki-web/frontend/src/game/types.ts
  seki-web/frontend/src/utils/rating.ts
  seki-web/migrations/002_player_ratings.sql
  seki-web/src/models/game.rs
  seki-web/src/models/game_read.rs
  seki-web/src/models/mod.rs
  seki-web/src/models/rating.rs
  seki-web/src/routes/api.rs
  seki-web/src/routes/games.rs
  seki-web/src/routes/web_api.rs
  seki-web/src/services/game_actions/disconnect.rs
  seki-web/src/services/game_actions/mod.rs
  seki-web/src/services/game_actions/territory.rs
  seki-web/src/services/game_creator.rs
  seki-web/src/services/game_joiner.rs
  seki-web/src/services/live.rs
  seki-web/src/services/mod.rs
  seki-web/src/services/rating.rs
  seki-web/src/services/state_serializer.rs
  seki-web/src/templates/mod.rs
  seki-web/tests/ws/main.rs
  seki-web/tests/ws/rating.rs
  specs/001-player-rating-system/tasks.md
Due: rustfmt, clippy, prettier

chore: remove obsolete speckit skill modules
  .agents/skills/speckit-analyze/SKILL.md
  .agents/skills/speckit-checklist/SKILL.md
  .agents/skills/speckit-clarify/SKILL.md
  .agents/skills/speckit-constitution/SKILL.md
  .agents/skills/speckit-git-commit/SKILL.md
  .agents/skills/speckit-git-feature/SKILL.md
  .agents/skills/speckit-git-initialize/SKILL.md
  .agents/skills/speckit-git-remote/SKILL.md
  .agents/skills/speckit-git-validate/SKILL.md
  .agents/skills/speckit-implement/SKILL.md
  .agents/skills/speckit-plan/SKILL.md
  .agents/skills/speckit-tasks/SKILL.md
  .agents/skills/speckit-taskstoissues/SKILL.md
  .dockerignore
  .gitignore
  .specify/extensions/.registry
  .specify/init-options.json
  .specify/integration.json
  .specify/integrations/codex.manifest.json
  .specify/integrations/opencode.manifest.json
  .specify/integrations/speckit.manifest.json
  .specify/templates/checklist-template.md
  AGENTS.md
Due: none

chore: housekeeping
  .gitignore
  Cargo.lock
Due: none

test: cover ranked game rating flows
  .dockerignore
  seki-web/src/services/game_joiner.rs
  seki-web/tests/ws/rating.rs
  specs/001-player-rating-system/tasks.md
Due: rustfmt, clippy

fix: derive ranked challenge settings on accept
  seki-web/src/services/game_actions/mod.rs
  seki-web/tests/ws/rating.rs
  specs/001-player-rating-system/tasks.md
Due: rustfmt, clippy

feat: surface ranked game settings
  seki-web/frontend/src/app.tsx
  seki-web/frontend/src/components/game-description.tsx
  seki-web/frontend/src/components/game-info.tsx
  seki-web/frontend/src/components/player-panel.tsx
  seki-web/frontend/src/game/capabilities.ts
  seki-web/frontend/src/game/state.ts
  seki-web/frontend/src/game/types.ts
  seki-web/frontend/src/layouts/game-settings-form.tsx
  seki-web/src/routes/web_api.rs
  seki-web/src/services/live.rs
  seki-web/src/services/state_serializer.rs
  seki-web/tests/ws/rating.rs
  specs/001-player-rating-system/tasks.md
Due: rustfmt, clippy, prettier

fix: centralize ranked eligibility checks
  seki-web/src/services/game_actions/mod.rs
  seki-web/src/services/game_creator.rs
  seki-web/src/services/game_joiner.rs
  seki-web/src/services/rating.rs
  seki-web/src/services/rating/eligibility.rs
  seki-web/tests/ws/rating.rs
  specs/001-player-rating-system/tasks.md
Due: rustfmt, clippy

feat: add rating display preference labels
  seki-web/frontend/src/__tests__/rating-format.test.ts
  seki-web/frontend/src/__tests__/rating-preferences.test.ts
  seki-web/frontend/src/components/player-panel.tsx
  seki-web/frontend/src/components/user-label.tsx
  seki-web/frontend/src/utils/preferences.ts
  seki-web/frontend/src/utils/storage.ts
  seki-web/src/models/user.rs
  seki-web/src/routes/settings.rs
  seki-web/src/services/rating.rs
  seki-web/src/templates/mod.rs
  seki-web/tests/ws/rating.rs
  specs/001-player-rating-system/tasks.md
Due: rustfmt, clippy, prettier

feat: surface rank labels across game UI
  seki-web/frontend/src/components/game-description.tsx
  seki-web/frontend/src/components/game-info.tsx
  seki-web/frontend/src/components/user-menu.tsx
  seki-web/src/routes/web_api.rs
  specs/001-player-rating-system/tasks.md
Due: rustfmt, clippy, prettier

feat: support rating participation opt out
  seki-web/frontend/src/__tests__/rating-preferences.test.ts
  seki-web/frontend/src/app.tsx
  seki-web/frontend/src/components/notification-settings.tsx
  seki-web/frontend/src/game/types.ts
  seki-web/src/routes/settings.rs
  seki-web/src/routes/web_api.rs
  seki-web/src/templates/mod.rs
  seki-web/tests/ws/rating.rs
  specs/001-player-rating-system/tasks.md
Due: rustfmt, clippy, prettier

feat: expose profile rating history
  seki-web/frontend/src/app.tsx
  seki-web/src/routes/web_api.rs
  seki-web/src/services/rating.rs
  seki-web/src/services/rating/profile.rs
  seki-web/tests/ws/rating.rs
  specs/001-player-rating-system/tasks.md
Due: rustfmt, clippy, prettier

feat: add game list rating filters, fix rank display in navbar and user labels
  API_SPEC.md
  FRONTEND_SPEC.md
  README.md
  seki-web/frontend/src/__tests__/rating-format.test.ts
  seki-web/frontend/src/app.tsx
  seki-web/frontend/src/components/user-menu.tsx
  seki-web/frontend/src/layouts/games-list.tsx
  seki-web/frontend/src/layouts/live-game-page.tsx
  seki-web/frontend/src/utils/format.ts
  seki-web/frontend/src/utils/storage.ts
  seki-web/src/bin/seed.rs
  seki-web/src/models/game.rs
  seki-web/src/routes/auth.rs
  seki-web/src/routes/mod.rs
  seki-web/src/routes/spa.rs
  seki-web/src/routes/web_api.rs
  seki-web/src/services/live.rs
  seki-web/src/services/state_serializer.rs
  seki-web/tests/ws/rating.rs
  specs/001-player-rating-system/quickstart.md
  specs/001-player-rating-system/tasks.md
Due: rustfmt, clippy, prettier

docs: add PWA auth and push implementation plan
  .specify/feature.json
  AGENTS.md
  specs/002-pwa-auth-push/checklists/requirements.md
  specs/002-pwa-auth-push/contracts/api.md
  specs/002-pwa-auth-push/data-model.md
  specs/002-pwa-auth-push/plan.md
  specs/002-pwa-auth-push/quickstart.md
  specs/002-pwa-auth-push/research.md
  specs/002-pwa-auth-push/spec.md
Due: none

docs: add ranked game form redesign spec, plan, and tasks
  specs/003-ranked-game-form/checklists/requirements.md
  specs/003-ranked-game-form/contracts/new-game-form-contract.md
  specs/003-ranked-game-form/data-model.md
  specs/003-ranked-game-form/plan.md
  specs/003-ranked-game-form/quickstart.md
  specs/003-ranked-game-form/research.md
  specs/003-ranked-game-form/spec.md
  specs/003-ranked-game-form/tasks.md
Due: none

chore: remove obsolete speckit skill
  .agents/skills/speckit-specify/SKILL.md
  .specify/integrations/opencode.manifest.json
Due: none

chore: add build script for migration change detection
  seki-web/build.rs
Due: rustfmt, clippy

chore: update agent context to ranked game form plan
  AGENTS.md
Due: none

feat: rework game form with rank support
  seki-web/frontend/src/__tests__/rating-format.test.ts
  seki-web/frontend/src/app.tsx
  seki-web/frontend/src/components/user-label.tsx
  seki-web/frontend/src/components/user-menu.tsx
  seki-web/frontend/src/components/user-rank.tsx
  seki-web/frontend/src/layouts/form-variants/direct-challenge.tsx
  seki-web/frontend/src/layouts/form-variants/email-invite.tsx
  seki-web/frontend/src/layouts/form-variants/open-game.tsx
  seki-web/frontend/src/layouts/game-settings-form.tsx
  seki-web/migrations/003_max_handicap.sql
  seki-web/src/lib.rs
  seki-web/src/models/game.rs
  seki-web/src/models/user.rs
  seki-web/src/routes/api.rs
  seki-web/src/routes/games.rs
  seki-web/src/routes/users.rs
  seki-web/src/routes/web_api.rs
  seki-web/src/services/game_actions/mod.rs
  seki-web/src/services/game_creator.rs
  seki-web/src/services/game_joiner.rs
  seki-web/src/services/rating.rs
  seki-web/tests/ws/rating.rs
  specs/003-ranked-game-form/tasks.md
Due: rustfmt, clippy, prettier

fix: update rank display preferences
  seki-web/frontend/src/__tests__/rating-format.test.ts
  seki-web/frontend/src/__tests__/rating-preferences.test.ts
  seki-web/frontend/src/app.tsx
  seki-web/frontend/src/components/game-description.tsx
  seki-web/frontend/src/components/game-info.tsx
  seki-web/frontend/src/components/player-panel.tsx
  seki-web/frontend/src/components/user-label.tsx
  seki-web/frontend/src/components/user-menu.tsx
  seki-web/frontend/src/components/user-rank.tsx
  seki-web/frontend/src/layouts/form-variants/direct-challenge.tsx
  seki-web/frontend/src/layouts/form-variants/open-game.tsx
  seki-web/frontend/src/layouts/game-settings-form.tsx
  seki-web/frontend/src/utils/preferences.ts
  seki-web/frontend/src/utils/rating.ts
Due: prettier

fix: infer challenge settings and remove game filters
  seki-web/frontend/src/__tests__/direct-challenge-settings.test.ts
  seki-web/frontend/src/layouts/form-variants/direct-challenge.tsx
  seki-web/frontend/src/layouts/game-settings-form.tsx
  seki-web/frontend/src/layouts/games-list.tsx
  seki-web/frontend/src/utils/storage.ts
Due: prettier

refactor: split spa app modules
  seki-web/frontend/src/app.tsx
  seki-web/frontend/src/spa/auth-screens.tsx
  seki-web/frontend/src/spa/flash-banner.tsx
  seki-web/frontend/src/spa/game-screens.tsx
  seki-web/frontend/src/spa/head.ts
  seki-web/frontend/src/spa/profile-screen.tsx
  seki-web/frontend/src/spa/route-data.ts
  seki-web/frontend/src/spa/routes.ts
  seki-web/frontend/src/spa/screen-state.tsx
  seki-web/frontend/src/spa/screen.tsx
  seki-web/frontend/src/spa/types.ts
Due: prettier

feat: add push dispatch service and verify pwa auth implementation
  Cargo.lock
  README.md
  seki-web/Cargo.toml
  seki-web/src/services/mod.rs
  seki-web/src/services/push.rs
  seki-web/src/ws/game_channel.rs
  specs/002-pwa-auth-push/tasks.md
Due: rustfmt, clippy

fix: remove unwanted disconnected status copy with TODO
  seki-web/frontend/src/layouts/live-game-page.tsx
Due: prettier

fix: regenerate pwa icons
  seki-web/static/images/icon-192.png
  seki-web/static/images/icon-512.png
  seki-web/static/images/icon-maskable-512.png
  seki-web/static/images/stone_black.svg
  seki-web/static/images/stone_white.svg
  seki-web/static/manifest.json
Due: none

chore: avoid checked-in generated web artifacts
  .gitignore
  justfile
  scripts/package-release.sh
  seki-web/frontend/build.mjs
  seki-web/src/lib.rs
  seki-web/static/sw.js
  specs/002-pwa-auth-push/quickstart.md
Due: rustfmt, clippy

fix: avoid caching personalized spa shell
  seki-web/frontend/src/service-worker.ts
Due: prettier

Path conditions:
  rustfmt: any of: *.rs
  clippy: any of: *.rs
  prettier: any of: *.{ts,tsx} and ^seki\-web/frontend/
