Repository sqwxl/seki: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt, clippy, prettier

rustfmt:
  run: cargo fmt -- --check

clippy:
  run: cargo clippy --all-targets -- -D warnings

prettier:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

build: restore pnpm workspace setup
  justfile
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

refactor: convert web app to body-mounted spa shell
  seki-web/frontend/src/app.tsx
  seki-web/frontend/src/components/connection-status.tsx
  seki-web/frontend/src/components/notification-bell.tsx
  seki-web/frontend/src/components/notification-settings.tsx
  seki-web/frontend/src/components/user-menu.tsx
  seki-web/frontend/src/game/util.ts
  seki-web/frontend/src/index.ts
  seki-web/frontend/src/layouts/analysis.tsx
  seki-web/frontend/src/layouts/games-list.tsx
  seki-web/frontend/src/layouts/live-game.tsx
  seki-web/frontend/src/layouts/user-games.tsx
  seki-web/frontend/src/utils/move-confirm.ts
  seki-web/src/lib.rs
  seki-web/src/routes/games.rs
  seki-web/src/routes/mod.rs
  seki-web/src/routes/settings.rs
  seki-web/src/routes/spa.rs
  seki-web/src/routes/web_api.rs
  seki-web/src/templates/mod.rs
  seki-web/src/templates/shell.rs
  seki-web/templates/spa_shell.html
Due: rustfmt, clippy, prettier

fix: show terminal status on finalized game nodes
  seki-web/frontend/src/game/capabilities.ts
  seki-web/frontend/src/layouts/live-game-page.tsx
Due: prettier

fix: reset live game runtime state between routes
  seki-web/frontend/src/game/state.ts
  seki-web/frontend/src/layouts/live-game.tsx
Due: prettier

perf: preload and cache spa route startup data
  seki-web/frontend/build.mjs
  seki-web/frontend/src/app.tsx
  seki-web/frontend/src/utils/constants.ts
  seki-web/src/lib.rs
  seki-web/src/routes/spa.rs
  seki-web/src/routes/web_api.rs
  seki-web/src/templates/shell.rs
  seki-web/static/css/desktop.css
  seki-web/templates/spa_shell.html
Due: rustfmt, clippy, prettier

refactor: render live game page from reactive state
  seki-web/frontend/src/game/capabilities.ts
  seki-web/frontend/src/game/state.ts
  seki-web/frontend/src/layouts/live-game-page.tsx
  seki-web/frontend/src/layouts/live-game.tsx
Due: prettier

refactor: isolate live game render slots
  seki-web/frontend/src/game/capabilities.ts
  seki-web/frontend/src/layouts/analysis-page.tsx
  seki-web/frontend/src/layouts/game-page-layout.tsx
  seki-web/frontend/src/layouts/live-game-page.tsx
Due: prettier

refactor: make analysis and game actions reactive
  seki-web/frontend/src/app.tsx
  seki-web/frontend/src/game/capabilities.ts
  seki-web/frontend/src/layouts/analysis-page.tsx
  seki-web/frontend/src/layouts/analysis-state.ts
  seki-web/frontend/src/layouts/analysis.tsx
  seki-web/frontend/src/layouts/live-game-page.tsx
  seki-web/frontend/src/utils/spa-navigation.ts
  seki-web/frontend/src/utils/web-client.ts
Due: prettier

refactor: remove legacy frontend island bootstraps
  seki-web/frontend/src/app.tsx
  seki-web/frontend/src/components/connection-status.tsx
  seki-web/frontend/src/components/notification-bell.tsx
  seki-web/frontend/src/components/notification-settings.tsx
  seki-web/frontend/src/components/user-menu.tsx
  seki-web/frontend/src/layouts/game-settings-form.tsx
  seki-web/frontend/src/layouts/games-list.tsx
  seki-web/frontend/src/layouts/user-games.tsx
  seki-web/frontend/src/utils/form-validation.ts
Due: prettier

refactor: remove legacy server-rendered web pages
  Cargo.lock
  seki-web/Cargo.toml
  seki-web/src/routes/analysis.rs
  seki-web/src/routes/auth.rs
  seki-web/src/routes/games.rs
  seki-web/src/routes/mod.rs
  seki-web/src/routes/settings.rs
  seki-web/src/routes/users.rs
  seki-web/src/templates/analysis.rs
  seki-web/src/templates/auth.rs
  seki-web/src/templates/games_list.rs
  seki-web/src/templates/games_new.rs
  seki-web/src/templates/games_show.rs
  seki-web/src/templates/mod.rs
  seki-web/src/templates/user_profile.rs
  seki-web/templates/analysis.html
  seki-web/templates/auth/login.html
  seki-web/templates/auth/register.html
  seki-web/templates/games/list.html
  seki-web/templates/games/new.html
  seki-web/templates/games/show.html
  seki-web/templates/users/profile.html
Due: rustfmt, clippy

fix: harden spa route reload and board lifecycle
  seki-web/frontend/src/app.tsx
  seki-web/frontend/src/layouts/analysis-page.tsx
  seki-web/frontend/src/layouts/analysis-state.ts
  seki-web/frontend/src/layouts/analysis.tsx
  seki-web/frontend/src/layouts/live-game.tsx
Due: prettier

docs: add frontend behavior spec
  FRONTEND_SPEC.md
Due: none

feat(frontend): add pending action UX for live game controls
  seki-web/frontend/src/__tests__/pending-actions.test.ts
  seki-web/frontend/src/components/controls.tsx
  seki-web/frontend/src/components/icons.tsx
  seki-web/frontend/src/game/messages.ts
  seki-web/frontend/src/game/state.ts
  seki-web/frontend/src/layouts/live-game-page.tsx
  seki-web/frontend/vitest.setup.ts
  seki-web/static/css/controls.css
  seki-web/static/images/spinner.svg
Due: prettier

fix(frontend): unify popover layering and layout spacing
  seki-web/frontend/src/components/controls.tsx
  seki-web/frontend/src/components/game-info.tsx
  seki-web/frontend/src/layouts/live-game-page.tsx
  seki-web/static/css/base.css
  seki-web/static/css/forms.css
  seki-web/static/css/game-info.css
Due: prettier

Fix join modal for open handicap games
  seki-web/frontend/src/__tests__/capabilities.test.ts
  seki-web/frontend/src/components/game-status.tsx
  seki-web/frontend/src/game/capabilities.ts
  seki-web/src/routes/web_api.rs
  seki-web/src/services/state_serializer.rs
  seki-web/tests/ws/game_lifecycle.rs
Due: rustfmt, clippy, prettier

feat: split game access and invite tokens
  seki-web/frontend/src/__tests__/access.test.ts
  seki-web/frontend/src/__tests__/capabilities.test.ts
  seki-web/frontend/src/app.tsx
  seki-web/frontend/src/components/controls.tsx
  seki-web/frontend/src/components/game-description.tsx
  seki-web/frontend/src/components/game-info.tsx
  seki-web/frontend/src/game/access.ts
  seki-web/frontend/src/game/capabilities.ts
  seki-web/frontend/src/game/types.ts
  seki-web/frontend/src/layouts/game-settings-form.tsx
  seki-web/frontend/src/layouts/games-list.tsx
  seki-web/frontend/src/layouts/live-game-page.tsx
  seki-web/migrations/001_initial.sql
  seki-web/src/models/game.rs
  seki-web/src/routes/api.rs
  seki-web/src/routes/games.rs
  seki-web/src/routes/web_api.rs
  seki-web/src/services/game_creator.rs
  seki-web/src/services/game_joiner.rs
  seki-web/src/services/mailer.rs
  seki-web/src/services/mod.rs
  seki-web/src/templates/games_show.rs
  seki-web/static/css/base.css
  seki-web/static/css/forms.css
  seki-web/static/css/game-info.css
  seki-web/tests/ws/common.rs
  seki-web/tests/ws/private_game.rs
  seki-web/tests/ws/security.rs
Due: rustfmt, clippy, prettier

style: apply rustfmt cleanup
  seki-web/src/lib.rs
  seki-web/src/routes/auth.rs
  seki-web/src/routes/users.rs
Due: rustfmt, clippy

feat: add global flash banner
  seki-web/frontend/src/__tests__/flash.test.ts
  seki-web/frontend/src/__tests__/pending-actions.test.ts
  seki-web/frontend/src/app.tsx
  seki-web/frontend/src/game/state.ts
  seki-web/frontend/src/layouts/live-game-page.tsx
  seki-web/frontend/src/utils/flash.ts
  seki-web/src/routes/auth.rs
  seki-web/src/routes/games.rs
  seki-web/src/routes/mod.rs
  seki-web/src/routes/settings.rs
  seki-web/src/routes/users.rs
  seki-web/src/routes/web_api.rs
  seki-web/static/css/base.css
Due: rustfmt, clippy, prettier

refactor: use session-backed flash bootstrap
  seki-web/frontend/src/__tests__/navigation-errors.test.ts
  seki-web/frontend/src/app.tsx
  seki-web/frontend/src/utils/navigation-errors.ts
  seki-web/src/routes/auth.rs
  seki-web/src/routes/games.rs
  seki-web/src/routes/mod.rs
  seki-web/src/routes/settings.rs
  seki-web/src/routes/spa.rs
  seki-web/src/routes/users.rs
  seki-web/src/routes/web_api.rs
Due: rustfmt, clippy, prettier

style: refine flash banner interactions
  seki-web/frontend/src/app.tsx
  seki-web/static/css/base.css
Due: prettier

docs: update frontend and api specs
  API_SPEC.md
  FRONTEND_SPEC.md
  ISSUES.md
Due: none

docs: update README feature checklist
  README.md
Due: none

feat: standardize API error envelopes
  seki-web/src/error.rs
  seki-web/src/routes/api.rs
  seki-web/tests/ws/api.rs
Due: rustfmt, clippy

fix live game bootstrap from stale analysis
  seki-web/frontend/src/layouts/live-game.tsx
Due: prettier

rename access link actions to invite
  seki-web/frontend/src/components/controls.tsx
  seki-web/frontend/src/components/game-info.tsx
Due: prettier

feat(frontend): add local sound preference toggle
  seki-web/frontend/src/components/user-menu.tsx
  seki-web/frontend/src/game/sound.ts
  seki-web/frontend/src/game/state.ts
  seki-web/frontend/src/utils/storage.ts
Due: prettier

feat(chat): reconcile optimistic messages by id
  FRONTEND_SPEC.md
  seki-web/frontend/src/__tests__/pending-actions.test.ts
  seki-web/frontend/src/components/chat.tsx
  seki-web/frontend/src/game/channel.ts
  seki-web/frontend/src/game/messages.ts
  seki-web/frontend/src/game/state.ts
  seki-web/frontend/src/game/types.ts
  seki-web/frontend/src/layouts/live-game-page.tsx
  seki-web/frontend/src/layouts/live-game.tsx
  seki-web/migrations/013_chat_client_message_ids.sql
  seki-web/src/models/message.rs
  seki-web/src/routes/api.rs
  seki-web/src/routes/web_api.rs
  seki-web/src/services/game_actions/mod.rs
  seki-web/src/ws/game_channel.rs
  seki-web/static/css/chat.css
Due: rustfmt, clippy, prettier

test: align ws integration tests with current contracts
  PLANS.md
  seki-web/tests/ws/common.rs
  seki-web/tests/ws/private_game.rs
  seki-web/tests/ws/security.rs
  seki-web/tests/ws/state_guards.rs
  seki-web/tests/ws/validation.rs
Due: rustfmt, clippy

docs: replace local plans doc with upstream issues
  PLANS.md
Due: none

fix(frontend): align challenge bell labels with spec
  seki-web/frontend/src/__tests__/notification-bell.test.ts
  seki-web/frontend/src/components/notification-bell.tsx
  seki-web/frontend/src/game/unread.ts
Due: prettier

doc: update AGENTS.md
  AGENTS.md
Due: none

fix(web): flip page title format
  seki-web/frontend/src/app.tsx
Due: prettier

docs: sync README feature checklist with specs
  README.md
Due: none

chore: checkpoint current changes
  .gitignore
  README.md
  scripts/deploy-prebuilt.sh
  scripts/install-release.sh
  scripts/package-release.sh
  scripts/setup-runtime-service.sh
  seki-web/frontend/src/__tests__/capabilities.test.ts
  seki-web/frontend/src/__tests__/live-game-page.test.ts
  seki-web/frontend/src/components/controls.tsx
  seki-web/frontend/src/game/capabilities.ts
  seki-web/frontend/src/layouts/live-game-page.tsx
Due: prettier

feat: migrate to sqlite
  .nvim.lua
  .sqlfluff
  Cargo.lock
  README.md
  docker-compose.yaml
  seki-web/Cargo.toml
  seki-web/migrations_sqlite/001_initial.sql
  seki-web/src/db.rs
  seki-web/src/lib.rs
  seki-web/src/main.rs
  seki-web/src/models/game.rs
  seki-web/src/models/game_read.rs
  seki-web/src/models/message.rs
  seki-web/src/models/turn.rs
  seki-web/src/models/user.rs
  seki-web/src/routes/mod.rs
  seki-web/src/routes/spa.rs
  seki-web/src/routes/web_api.rs
  seki-web/src/services/engine_builder.rs
  seki-web/src/services/game_actions/mod.rs
  seki-web/tests/ws/common.rs
Due: rustfmt, clippy

chore: simplify pi deploy
  Cargo.lock
  README.md
  scripts/deploy-prebuilt.sh
  scripts/install-release.sh
  scripts/package-release.sh
  scripts/setup-runtime-service.sh
  seki-web/Cargo.toml
Due: none

Path conditions:
  rustfmt: any of: *.rs
  clippy: any of: *.rs
  prettier: any of: *.{ts,tsx} and ^seki\-web/frontend/
